/*
===========================
	Box
===========================
*/

	/*
	=======================
		Sizes
	=======================
	*/
		.box{
			padding: 10px 20px;
		}
		.box-min{
			padding: 10px;
		}
		.box-max{
			padding: 20px;
		}

		/*
			Values equals
		====================
		*/
			.box, .box-min, .box-max{
				box-sizing: border-box;
			}
	/*
	=======================
		Sizes
	=======================
	*/

/*
===========================
	//Box
===========================
*/