/*
////////////////////////////////
	Demo
////////////////////////////////
*/
	/*
	=========================
		Colors
	=========================
	*/
		@color_primary: #DA042C; //Regular
		@color_primary_b: #A40B32; //Bold(strong)
	/*
	=========================
		//Colors
	=========================
	*/

	/*
	=========================
		Nav
	=========================
	*/
		.demo-nav{
			background-color: #FFF;
			color: @color_primary;

			.menu{
				.menu-ls-h{
					.menu-ls-item{
						.menu-ls-lk{
							padding: 19px 10px;
							font-weight: bold;
							color: @color_primary;

							&:hover, &:focus{
								background-color: #F4F4F4;
							}
						}
					}
				}
			}
		}
	/*
	=========================
		//Nav
	=========================
	*/

	/*
	=========================
		Header
	=========================
	*/
		.demo-header{
			background-color: @color_primary;
			color: #FFF;

			.btn{
				color: #FFF;
				&.btn-primary{
					background-color: #FFF;
					color: #DA042C;
				}
			}

		}
	/*
	=========================
		Header
	=========================
	*/

	/*
	=========================
		Logo
	=========================
	*/	
		.logo{
			font-size: 22px;
			margin: 0;
			//link
			.logo-lk{
				display: block;
				text-decoration: none;

				padding: 15px 10px;

				color: @color_primary;

				&:hover, &:focus{
					background-color: #F4F4F4;
				}
			}
		}
	/*
	=========================
		//Logo
	=========================
	*/
	.demo-main{
		margin-top: 40px;
	}
	.demo-ex-grid{
		[class^=col-]{
			box-sizing: border-box;
			padding: 10px;
			margin-bottom: 10px;
			background-color: #CCC;
		}
	}

	/*
	==========================
		Example
	==========================
	*/
		.demo-example{
			position: relative;
			padding: 40px 20px;
			margin-bottom: 20px;
			border: 1px solid #CCC;
			border-radius: 3px;

			&.form-example{
				label{
					display: block;

					&.row{
						margin-bottom: 10px;
					}
				}
				input{
					margin-bottom: 10px;
				}
			}

			&:after{
				position: absolute;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 14px;
				top: 10px;
				left: 10px;
				content: "Exemplo";
				color: #CCC;
			}
		}
/*
////////////////////////////////
	Demo
////////////////////////////////
*/