/*
########################################
	Form
########################################
*/
	*{
		outline: 0;
	}
	/*
	==================================
		Input
	==================================
	*/
		input, textarea, select{
			display: block;
			padding: 5px 0;
			border: 0;
			border-bottom: 1px solid #333;
			width: 100%;
		}
	/*
	==================================
		//Input
	==================================
	*/

	/*
	//////////////////////////////////
		Form Field
	//////////////////////////////////
	*/
		.form-field{
			position: relative;
			margin-top: 13px;

			&::after{
				content: "";
				-webkit-transition: all .25s;
				   -moz-transition: all .25s;
				    -ms-transition: all .25s;
				     -o-transition: all .25s;
				        transition: all .25s;
				position: absolute;
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				bottom: 0;
				width: 0;
				height: 2px;
				background-color: #9b59b6;
			}

			/*	
			==================================
				Is Focusded
			==================================
			*/
				&.is-focused{
					&::after{
						width: 100%;
					}

					&.label-floating{
						.label-control{
							color: #9b59b6;
						}
						&.is-empty{
							.label-control{
								top: -14px;
								font-size: 12px;
							}
						}
					}
				}
			/*	
			==================================
				//Is Focusded
			==================================
			*/

			/*	
			==================================
				Label Floating
			==================================
			*/
				&.label-floating{
					position: relative;
					.label-control{
						-webkit-transition: all .25s;
						   -moz-transition: all .25s;
						    -ms-transition: all .25s;
						     -o-transition: all .25s;
						        transition: all .25s;
						position: absolute;
						display: block;
						top: -14px;
						left: 0;
						font-size: 12px;
					}

					&.is-empty{
						.label-control{
							top: 5px;
							font-size: 16px;
						}
					}
				}
			/*	
			==================================
				Label Floating
			==================================
			*/

			/*
			/////////////////////////////////////////
				Control
			/////////////////////////////////////////
			*/
				/*
				==================================
					Form
				==================================
				*/
					.form-control{

					}
				/*
				==================================
					//Form
				==================================
				*/

				/*
				==================================
					Label
				==================================
				*/
					.label-control{
						
					}
				/*
				==================================
					//Label
				==================================
				*/

				/*
				==================================
					Feedback
				==================================
				*/
					.form-control-feedback{
						position: absolute;
						right: 0;
						top: 0;
					}
				/*
				==================================
					//Feedback
				==================================
				*/
			/*
			/////////////////////////////////////////
				//Control
			/////////////////////////////////////////
			*/

			/*
			/////////////////////////////////////////
				//Validation
			/////////////////////////////////////////
			*/
		}
	/*
	//////////////////////////////////
		//Form Field
	//////////////////////////////////
	*/

	/*
	//////////////////////////////////
		Input Group
	//////////////////////////////////
	*/
		.input-group{
			.input-group-icon, .form-field{
				display: inline-block;
			}
			.input-group-icon{
				margin-right: 10px;
			}
			.form-field{
				width: calc(~"100% - 31px");
			}
		}
	/*
	//////////////////////////////////
		//Input Group
	//////////////////////////////////
	*/
/*
########################################
	//Form
########################################
*/