/*
//////////////////////////////////////////////////
	List
	all stylus for list you foud here
//////////////////////////////////////////////////
*/
	//no style
	.list-nostyle{
		margin: 0;
		padding: 0;

		> li{
			list-style-type: none;
		}
	}

	//inline
	.list-inline{
		margin: 0;
		padding: 0;

		> li{
			display: inline-block;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
/*
//////////////////////////////
	//List
/////////////////////////////
*/