/*
|||||||||||||||||||||||||||||||||||||
	name: Champs
	version: 1.0.0
	author: Raro! Brand & Design
|||||||||||||||||||||||||||||||||||||
*/
	


	/*
		#####################
			   HEADER
		#####################
	*/

		.header{
			height: 50px;
			border-bottom: 4px solid #f1f1f2;
			.header--menu{
				.header-menu--top{
					margin: 14px 0 0 0;
					float: left;
					ul{
						margin: 0;
						padding: 0;
						li{
							list-style-type: none;
							font-weight: bold;
							display: inline;
							margin-right: 20px;
							a{
								text-decoration: none;
								color: #6e6e6e;
								padding: 15px 15px;
								&:hover, &:focus{
									background-color: #5bcab7;
									color: #fff;
									outline: none;
									transition: 0.25s;
								}
							}
						}
						a{
							margin-top: 3px;
						}
					}
				}
				.header-menu--img{
					a{
						padding: 20px 15px 5px 15px;
						&:hover, &:focus{
							outline: none;
						}
					}
					float: left;
					margin: 12px 0 0 0;		
				}
			}
			.header--social{
				margin: 11px 0 0 0;
				.header-search{
					margin-top: -5px;
				}	
				ul{
					margin: 0;
					padding: 0;
					li{
						margin-right: 20px;
						display: inline;
						font-weight: bold;
						list-style-type: none;
						a{
							text-decoration: none;
							color: #6e6e6e;
							padding: 17px 20px 13px 20px;
							&:hover, &:focus{
								background-color: #f1f1f2;
								outline: none;
								transition: 0.25s;
							}
							i{
								font-size: 22px;
								color: #797574;
							}
							.search{
								margin-right: 20px;
							}
						}
						&:last-child{
							margin-right: 0;
						}

					}
				}
				.header-search{
					display: none;
					input{
						color: #797574;
						border: 2px solid #797574;
						padding: 6px 5px 6px 10px;
					}
				}
				.open{
					display: block;
					&:focus{
						width: 238px;
						transition: 3s;
					}
				}
				.close{
					display: none;
				}
			}
		}

		.header-logo{
			margin: 23px 0 20px 0;
			a{
				img{
					width: 364px;
					height: 106px;
				}
				&:hover, &:focus{
					outline: none;
				}
			}
		}
			
		.header-menu--list{
			height: 40px;
			border-top: 1px solid #797574;
			border-bottom: 1px solid #797574;
			ul{
				padding: 0;
				margin: 11px 0 0 0;
				li{
					padding: 0 58px;
					display: inline;
					list-style-type: none;
					font-size: 14px;
					a{
						text-transform: uppercase;
						text-decoration: none;
						color: #a09f9f;
						font-weight: bold;
						padding: 7px 0;
						&:hover, &:focus{
							outline: none;
							color: #5bcab7;
						}
						&.active{
							color: #5bcab7;
						}
					}
					&:first-child{
						padding-left: 0;
					}
					&:last-child{
						padding-right: 0;
					}
				}
			}	
		}
	/*
		#####################
			  //HEADER
		#####################
	*/

	/*
		############################
		 	ALIGN TEXT ABSOLUTE
		############################
	*/	

		.align-title--absolute{
			max-width: 30%;
			text-align: center;
			position: absolute;
			z-index: 1000;
			top: -10px;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			background-color: #fff;
		}

	/*
		############################
		 	//ALIGN TEXT ABSOLUTE
		############################
	*/	



	/*
		############################
			 	INDEX PAGE
		############################
	*/		
		.index--align{
			margin-top: 45px;
			margin-bottom: 65px;
		}

		/*
			#####################
				 CAROUSEL
			#####################
		*/
			.carousel-destaque{
				#banner--carousel{
					&.owl-carousel{
						.owl-stage{
							.owl-item{
								&.active{
									.banner-block{
										.block-details--banner{
											bottom: 0;
										}
									}
								}
							}
						}
						.owl-controls{
							.owl-dots{
								position: absolute;
								bottom: 0;
								left: 0;
								padding: 5px 0;
								width: 100%;
								text-align: center;
								.owl-dot{
									margin: 0 5px;
									display: inline-block;
									width: 15px;
									height: 15px; 
									border-radius: 50%;
									border: 2px solid #a09f9f;
									&.active{
										background-color: #a09f9f;
									}
								}
							}
						}
					}
				}
				.banner-block{
					a{
						text-decoration: none;
						color: #fff;
						&:hover, &:focus{
							outline: none;
						}
					}
					position: relative;
					width: 650px;
					height: 390px;
					overflow: hidden;
					img{
						width: auto;
						height: auto;
						min-width: 100%;
						min-height: 100%;
						max-width: 150%;
					}
					.block-details--banner{
						padding: 15px 0 30px 0;
						.block-details--content{
							.block-details--content-title{
								&::after{
									content: "";
									width: 70px;
									height: 1px;
									background-color: #fff;
									display: inline-block;
								}
								h1{
									font-size: 30px;
									margin: 0;
									color: #fff;
									margin: 0;
								}
							}
							h2{
								font-weight: 300;
								font-size: 14px;
								color: #fff;
								margin: 0;
							}
						}
						background-color: rgba(0, 0, 0, 0.7);
						position: absolute;
						width: 100%;
						height: auto;
						border-top: 2px solid #a09f9f;
						bottom: -100%;
						transition: 0.5s;
						transition-delay:0.75s;
					}
				}
			}

			.carousel-loja{
				.loja-container{
					position: relative;
					.loja-title{
						p{
							margin: 0;
							padding: 0px 17px;
							font-size: 30px;
							color: #666666;
						}
					}
					.loja-block{
						position: relative;
						width: 100%; 
						height: 388px;
						border: 1px solid #797574;
						#button-prev{
							background-color: transparent;
							border: 0;
							right: 85%;
							top: calc(~"42% - 30px");
							z-index: 1000;
							position: absolute;
							i{
								font-size: 35px;
								color: #797574;
							}
						}
						#button-next{
							background-color: transparent;
							border: 0;
							position: absolute;
							left: 85%;
							top: calc(~"42% - 30px");
							z-index: 1000;
							i{
								font-size: 35px;
								color: #797574;
							}

						}
						.loja-container--img{
							margin-top: 50px;
							//overflow: hidden;
							width: 210px;
							a{
								color: #333;
								text-decoration: none;
								&:hover, &:focus{
									outline: none;
								}
								.block-details--loja{
									h1{
										font-size: 20px;
									}
									h2{
										font-size: 15px;
										margin: 0;
										font-weight: 300;
									}
								}
							}
						}
						#loja--carousel{
							&.owl-carousel{
								.owl-item{
									img{
										min-width: 100%;
										min-height: 100%;
										max-width: 150%;
										width: 100%;
										height: 100%;
										margin: 0 auto;
									}
								}
							}
						}
					}
				}
			}						

		/*
			#####################
				// CAROUSEL
			#####################
		*/

		/*
			#####################
				   SLIDER
			#####################
		*/

			.slider{
				margin: 70px 0 45px 0;
				&::before{
					content: "";
					width: 100%;
					position: relative;
					height: 1px;
					background-color: #a09f9f;
					display: inline-block;
				}
				.align-title--absolute{
					max-width: 20%;
					top: -22px;
				}
				.slider-title{
					position: relative;
					p{
						margin: 0;
						font-size: 30px;
						color: #666666;
						padding: 0px 15px;
					}
				}
				.slider-block{
					padding: 5px;
					background-color: #fff;
					position: relative;
					box-shadow: 0px 0px 1em #666;
						#button-prev--slider{
							background-color: transparent;
							border: 0;
							position: absolute;
							right: 101%;
							top: calc(~"55% - 30px");
							z-index: 1000;
							i{
								font-size: 35px;
								color: #797574;
							}
						}
						#button-next--slider{
							background-color: transparent;
							border: 0;
							position: absolute;
							left: 101%;
							top: calc(~"55% - 30px");
							z-index: 1000;
							i{
								font-size: 35px;
								color: #797574;
							}

						}
						#slider--carousel{
							&.owl-carousel{
								.owl-item{
									img{
										min-height: 100%;
										min-width: 100%;
										max-width: 150%;
										width: auto;
										height: auto;
									}
							    }
							}
						}
						.slider-container{
							position: relative;
							.slider-container--img{
								overflow: hidden;
								height: 236px;
								a{
									text-decoration: none;
									color: #fff;
								}
								ul{
									margin: 0; 
									padding: 0;
									li{
										a{
											font-size: 21px;
											text-decoration: none;
											color: #fff;
										}
									}
								}
								.slider-content{
									position: absolute;
									bottom: 0;
									height: 100%;
									width: 100%;
									background-color: rgba(0, 0, 0, 0.2);
									opacity: 0;
									transition: all .4s;
									.slider-content--align{
										position: absolute;
										top: 65px;
										.slider-content--title{
											p{
												text-transform: uppercase;
												margin: 0;
												color: #fff;
												font-size: 26px;
											}
											&::after{
												content: "";
												display: inline-block;
												width: 70px;
												height: 2px;
												background-color: #fff;
											}
										}
										.slider-content--category{
											span{
												font-size: 21px;
												text-decoration: none;
												color: #fff;
											}	
										}
									}
								}
							}
							&:hover{
								cursor: pointer;
								&.slider-container{
									.slider-container--img{
										img{
										        -webkit-transform: scale(1.1);
										        -ms-transform: scale(1.1);
										        transform: scale(1.1);
										        transition: 0.2s;
										}
									}
								}
								.slider-content{
									opacity: 1;
								}
							}
						}
					}
			}
		/*
			#####################
				  //SLIDER
			#####################
		*/

		/*
			#####################
				  POSTS
			#####################
		*/	
			.posts-block{
				&.posts-page{
					margin: 55px 0 0 0;
				}
				.posts-container{
					margin: 0 0 50px 0;
				}
				.posts-img{
					float: left;
					width: 100%;
					height: 300px;
					overflow: hidden;
					vertical-align: middle;
					img{
						min-width: 100%;
						min-height: 100%;
						max-width: 150%;
					}
				}
				.posts-content{
					float: left;
					.post-categories{
						margin: 0 0 10px 0;
						padding: 0;
						li{
							list-style-type: none;
							a{
								text-decoration: none;
								color:#fd6b6b;
								font-style: italic;
								font-size: 18px;
							}
						}
					}
					text-decoration: none;
					.posts-category{
						span{
							margin: 0;
							font-size: 14px;
							line-height: 22px;
							color: #666666;
							&:hover{
								text-decoration: underline;
							}
						}
					}
					.posts-title{
						p{
							margin: 0;
							text-transform: uppercase;
							font-size: 26px;
							a{
								text-decoration: none;
								color: #666666;
								&:focus, &:hover{
									outline: none;
								}
							}
						}
					}
					.posts-author{
						margin: 0 0 15px 0;
						span{
							font-size: 14px;
							color:#fd6b6b;
							i{
								a{
									color: #fd6b6b;
									text-decoration: none;
									&:hover{
										text-decoration: underline;
									}
								}
							}
						}
					}
					.posts-about{
						p{
							margin-bottom: 0;
							color: #a09f9f;
							max-width: 100%;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							margin: 0;
						}
					}
				}

				.posts-ver{
					margin: 76px 0 21px 0;
					border-bottom: 1px solid #d8dadd;
					a{
						text-decoration: none;
						font-size: 18px;
						color: #0ab3a3;
						&:focus, &:hover{
							text-decoration: underline;
							outline: none;
						}
					}
				}
				.posts-social{
					.posts-social--facebook{
						float: left;
						a{
							margin: 0 10px 0 0;
							padding: 10px 9px 5px 8px;
							border: 2px solid #6081c4;
							text-decoration: none;
							color: #6081c4;
							&:focus, &:hover{
								outline: none;
								background-color: #6081c4;
								color: #fff;
								transition: 0.2s;
								i{
									color: #fff;
									transition: 0.2s;
								}
							}
							i{
								margin-right: 6px;
								color: #6081c4;
								font-size: 20px;
							}
						}
					}
					.posts-social--twitter{
						float: left;
						a{
							margin: 0 10px 0 0;
							padding: 10px 9px 5px 8px;
							border: 2px solid #00b8d7;
							text-decoration: none;
							color: #00b8d7;
							&:focus, &:hover{
								outline: none;
								color: #fff;
								background-color: #00b8d7;
								transition: 0.2s;
								i{
									color: #fff;
									transition: 0.2s;
								}
							}
							i{
								margin-right: 6px;
								color: #00b8d7;
								font-size: 20px;
							}	
						}
					}
					.posts-social--pinit{
						float: left;
						a{
							padding: 10px 9px 5px 8px;
							border: 2px solid #e62c34;
							text-decoration: none;
							color: #e62c34;
							&:focus, &:hover{
								color: #fff;
								outline: none;
								background-color: #e62c34;
								transition: 0.2s;
								i{
									color: #fff;
									transition: 0.2s;
								}
							}
							i{
								margin-right: 6px;
								color: #e62c34;
								font-size: 20px;
							}
						} 
					}
				}
			}
		/*
			#####################
				  //POSTS
			#####################
		*/

		/*
			#####################
				  DICAS
			#####################
		*/
				.dicas-block{
					margin-bottom: 30px;
					position: relative;
					&::before{
						content: "";
						width: 100%;
						position: relative;
						height: 1px;
						background-color: #a09f9f;
						display: inline-block;
						margin-bottom: 30px;
					}
					.align-title--absolute{
						max-width: 35%;
						top: -16px;
					}
					.dicas-title{
						p{
							color: #666666;
							margin: 0;
							font-size: 30px;
							padding: 0px 15px;

						}
					}

					.dicas-block--carousel{
						position: relative;
						border-bottom: 1px solid #a09f9f;
						.button-next--dicas{
							background-color: transparent;
							border: 0;
							position: absolute;
							right: -15px;
								top: calc(~"36% - 43px");
							i{
								font-size: 35px;
								color: #797574;
								z-index: 1000;
							}
						}
						.dicas-block--align{
							margin: 0;
						}
						.button-prev--dicas{
							background-color: transparent;
							border: 0;
							position: absolute;
							left: -25px;
							top: calc(~"36% - 30px");
							z-index: 1000;
							i{
								font-size: 35px;
								color: #797574;
							}

						}
						.dicas--carousel{
							&.owl-carousel{
								.owl-item{
									height: 210px;
									padding: 0 5px;
									img{
										min-width: 100%;
										min-height: 100%;
										max-width: 150%;
										width: 100%;
										height: 100%;
										border: 1px solid #a09f9f;
									}
								} 
							} 
						}
						.dicas-container{
							h1{
								margin: 8px 0 0 0;
								font-size: 14px;
							}
							h2{
								margin: 0 0 10px 0;
								font-size: 12px;
							}
							a{
								text-decoration: none;
								padding: 8px 12px 7px 12px;
								background-color: transparent;
								border: 0;
								color: #0ab3a3;
								&:hover{
									transition: 0.2s;
									background-color: #5bcab7;
									color: #fff;
								}
							}
							.dicas-container--img{
								border: 1px solid #cececf;
								position: relative;
								height: 112px;
								width: 112px;
								overflow: hidden;

								.dicas-container--block{
									position: absolute;
									display: none;
								}

							}
							&:hover{
								cursor: pointer;
								.dicas-container--img{
									.dicas-container--block{
										display: block;
										bottom: 0;
										width: 100%;
										height: 100%;
										background-color: rgba(0, 0, 0, 0.3);
										display: block;
										.dicas-container--text{
											margin: 50px 0 0 0;
											p{
												margin: 0;
												color: #fff;
												font-size: 18px;
											}
										}
									}
								}
							}
						}
					}
				}
		/*
			#####################
				  //DICAS
			#####################
		*/


		/*
			#####################
				  SOBRE
			#####################
		*/
			.right-block{
				.sobre-block{
					display: inline-block;
					background-color: #f7f7f7;
					.sobre-img{
						width: 100%; 
						height: 240px;
						overflow: hidden;
						img{
							min-width: 100%;
							min-height: 100%;
							max-width: 150%;
						}
					}
					.sobre-title{
						p{
							text-transform: uppercase;
							color: #666666;
							margin: 15px 0;
							font-size: 30px;
						}
					}
					.sobre-text{
						p{
							margin: 30px 0 20px 0;
							color: #a09f9f;
							line-height: 22px;
						}
						.sobre-logo{
							margin: 0 0 20px 0;
							a{
								&:hover, &:focus{
									outline: none;
								}
							}
							
						}
					}
				}
				.categoria-block{
					margin: 30px 0 0 0;
					input{
						padding: 15px 40px;
						width: 100%;
						border: 1px solid #a09f9f;
					}
					.categoria-search{
						.categoria-icon{
							img{
								z-index: 1000;
								position: absolute;
								padding: 17px 16px;
							}
						}
					}
					.categoria-list{
						margin: 30px 0 0 0;
						h2{
							color: #666666;
							margin: 0 0 15px 0;
							font-size: 14px;
						}
						nav{
							ul{
								margin: 0;
								padding: 0;
								li{
									list-style-type: none;
									padding: 0;
									border-top: 1px solid #a09f9f;
									a{
										display: inline-block;
										padding: 14px 0;
										text-decoration: none;
										color: #a09f9f;
										&:hover, &:focus{
											outline: none;
											color: #0ab3a3;
										}
									}
									&:last-child{
										border-bottom: 1px solid #a09f9f;
									}
								}
							}
						}
					}
				}
				.posts-block{
					.posts-block--title{
						h1{
							color: #303030;
							margin: 30px 0;
							font-size: 14px;
						}
					}
					.posts-container{
						border-top: 1px solid #9a9a9a;
						margin: 8px 0;
						padding: 8px 0 0 0;
						&:last-child{
							border-bottom: 1px solid #9a9a9a;
							padding: 8px 0 8px 0;
						}
						h1{
							font-size: 14px;
						}
						.posts-container-align{
							.posts-container--category{
								span{
									ul{
										margin: 0;
										padding: 0;
										li{
											list-style-type: none;
											a{
												text-decoration: none;
												font-size: 14px;
												color: #fd6b6b;	
												&:focus, &:hover{
													outline: none;
												}
											}
										}
									}
								}
							}
							.posts-container--title{
									p{
										margin: 5px 0;
										a{
											text-decoration: none;
											color: #9a9a9a;
											font-size: 14px;
								
											&:hover{
												color: #5bcab7;
											}
										}
									}		
							}
							.posts-container--date{
								p{
									text-transform: uppercase;
									margin: 0;
									color: #9a9a9a;
									font-size: 14px;
								}
							}
							.posts-container--img{
								width: 98px;
								height: 66px;
								overflow: hidden;
								a{
									color: #9a9a9a;
									font-size: 14px;
									text-decoration: none;
									img{
										min-width: 100%;
										min-height: 100%;
										max-width: 150%;
									}
								}
							}
						}
					}
				}
				.social-right--facebook{
					margin: 30px 0 0 0;
				}
				.social-right--instagram{
					margin: 30px 0 0 0;
					.insta-container{
						display: inline-block;
						padding: 10px 10px 0 10px;
						background-color: #f7f7f7;
						.inta-img{
							a{
								&:hover, &:focus{
									outline: none;
								}
								img{
									border: 1px solid #333;
									width: 65px;
									height: 65px;
									border-radius: 50%;
								}
							}
						}
						.insta-text{
							margin: 10px 0 0 0;
							h1{
								margin: 0;
								font-size: 14px;
							}
							h2{
								margin: 0;
								a{
									text-decoration: none;
									font-size: 14px;
									color: #9a9a9a;
									&:hover, &:focus{
										outline: none;
									}
								}
							}
						}
						iframe{
							margin: 15px 0 0 0;
						}
					}
				}

			}
		/*
			#####################
				  //SOBRE
			#####################
		*/

	/*
		############################
			   //INDEX PAGE
		############################
	*/		




	/*
		#####################
			  FOOTER
		#####################
	*/
		.footer{
			padding: 12px 0  18px 0;
			background-color: #f7f7f7;
			&.footer-contato{
				background-color: #fff;
			}
			.footer-title{
				p{
					font-weight: bold;
					margin: 40px 0 0 0;
					font-size: 16px;
					color: #303030;
				}
			}
			.footer-slider--instagram{
				margin: 35px 0 30px 0;
			}
			.footer-icon{
				a{
					&:hover, &:focus{
						outline: none;
					}
				}
			}
			.footer-copiryght{
				position: relative;
				p{
					margin: 10px 0 0 0;
					font-size: 12px;
					color: #303030;
				}
				.triangulo{
					width:0;
					height:0;
					border:1em solid;
					font-size: 70px; /* Configure o tamanho do triângulo aqui. */
					a{
						text-decoration: none;
						margin: 0;
						color: #fff;
						right: -22px;
						top: calc(39px);
						position: absolute;
						font-size: 19px;
						&:hover, &:focus{
							outline: none;
						}
					}
				}
				.pracima{
					top: -75px;
					right: -83px;
					position: absolute;
					border-color: transparent transparent #00bdb4 transparent;
				}
			}

			
		}


	/*
		#####################
			 //FOOTER
		#####################
	*/

	/*
		#####################
			 CONTATO
		#####################
	*/
		.contato{
			padding-bottom: 70px;
			background-color: #f6f6f6;
			.contato-img{
				overflow: hidden;
				height: 570px;
				width: 100%;
				img{
					min-width: 100%;
					min-height: 100%;
					max-width: 150%;
				}
			}
			.contato-block{
				background-color: #fff;
				padding: 50px 0 40px 0;
				.contato-container{
					.block-details--left{
						.block-details-title{
							h1{
								margin: 0 0 10px 0;
								color: #58bcb3;
								font-size: 13px;
								text-transform: uppercase;
							}
							h2{
								margin: 0 0 35px 0;
								color: #333;
								font-size: 20px;
								text-transform: uppercase;
							}
						}
						.block-details-content{
							p{
								line-height: 21px;
								margin: 0 0 30px 0;
								color: #999999;
								font-size: 14px;
								&:first-child{
									margin: 0;
								}
							}
						}
						.block-details-img{
							a{
								&:hover, &:focus{
									outline: none;
								}
								img{
									width: 137px;
									height: 40px;
								}
							}
						}
						.block-details-social{
							margin: 50px 0 0 0;
							ul{
								margin: 0;
								padding: 0;
								li{
									list-style-type: none;
									display: inline;
									a{
										text-decoration: none;
										color: #999999;
										&:hover, &:focus{
											outline: none;
											color: #333;
										}
										i{
											font-size: 16px;
											margin-right: 15px;
										}
									}
								}
							}
						}
					}
					.block-details--right{
						.block-details-title{
							h1{
								margin: 0 0 10px 0;
								color: #58bcb3;
								font-size: 13px;
								text-transform: uppercase;
							}
							h2{
								margin: 0 0 35px 0;
								color: #333;
								font-size: 20px;
								text-transform: uppercase;
							}
						}
						.block-details-content{
							p{
								margin: 0;
								color: #999999;
								font-size: 14px;
							}
						}
						.block-details-contact{
							.form-field{
								input{
									width: 100%;
									padding: 0 0 0 25px;
									border: 1px solid #a09f9f;
									height: 40px;
									margin: 0 0 20px 0;
									font-size: 14px;
								}
								textarea{
									width: 100%;
									border: 1px solid #a09f9f;
									padding: 15px 0 0 25px;
									margin-bottom: 30px;
									height: 160px;
									font-size: 14px;
								}
							}
							.button-field{
								button{
									border: 0;
									font-size: 13px;
									width: 160px;
									height: 43px;
									color: #fff;
									background-color: #58bcb3;
								}
							}
						}
					}
				}
			}
		}


	/*
		#####################
			 CONTATO
		#####################
	*/

	/*
		#####################
			 SINGLE
		#####################
	*/
		.single{
			margin: 28px 0 30px 0;
			.single-posts{
				.single-content{
					.single-category{
						font-size: 18px;
						ul{
							margin: 0;
							padding: 0;
							li{
								margin-bottom: 10px;
								list-style-type: none;
								a{
									color: #fd6b6b;
									text-decoration: none;
								}
							}
						}
					}
					.single-title{
						p{
							margin: 0 0 5px 0;
							text-transform: uppercase;
							color: #666;
							font-size: 26px;
						}
					}
					.single-author{
						margin-bottom: 25px;
						color: #fd6b6b;
						font-size: 12px;
						span{
							i{
								a{
									color: #fd6b6b;
									text-decoration: none;
									&:hover, &:focus{
										outline: none;
										text-decoration: underline;
									}

								}
							}
						}
					}
					.single-about{
						p{
							margin: 0 0 30px 0;
							color: #a09f9f;
							line-height: 20px;
							font-size: 14px;
						}
					}
				}
				.single-img{
					margin-bottom: 45px;
					overflow: hidden;
					width: 635px;
					height: 394px;
					img{
						min-width: 100%;
						min-height: 100%;
						max-width: 150%;
					}
				}

				/*
					#####################
						SINGLE CATEGORY
					#####################
				*/
					.single-category{
						margin: 26px 0 30px 0;
						.single-category--img{
							width: 300px;
							height: 300px;
							overflow: hidden;
							img{
								min-width: 100%;
								min-height: 100%;
								max-width: 150%;
							}
						}
						.single-category--title{
							.text-align{
								h1{
									margin: 10px 0 0 0;
									font-size: 14px;
									color: #6e6e6e;
									span{
										color: #7bbab4;
									}
								}
							}
							.link-align{
								p{
									margin: 9px 0 0 0;
									a{
										text-decoration: none;
										margin-left: 20px;
										font-size: 13px;
										padding: 9px 15px 7px 15px;
										background-color: #5bcab7;
										border: 0;
										color: #fff;
										&:hover, &:focus{
											outline: none;
											background-color: #0ab3a3;
										}
									}
								}
							}
						}
						.single-category--content{
							margin: 20px 0 20px 0;
							p{
								line-height: 20px;
								margin: 0;
								font-size: 14px;
								color: #a09f9f;
							}
						}
					}


				/*
					#####################
						//SINGLE CATEGORY
					#####################
				*/


				/*	
					###########################
					   SINGLE CAROUSEL DICAS
					###########################
				*/
				.dicas-block{
					.align-title--absolute{
						max-width: 30%;
						top: -10px;
					}
					.dicas-title{
						p{
							font-size: 24px;
						}
					}
					.dicas-block--carousel{
						.dicas-block--align{
							margin: 0 0 10px 0;
						}
						.dicas-container{
							h1{
								font-size: 12px;
							}
						}
					}
				}
				/*
					###########################
					  //SINGLE CAROUSEL DICAS
					###########################
				*/


				/*
					#####################
						SINGLE SOCIAL
					#####################
				*/

				.single-social{
					padding: 11px 0 10px 0;
					border-top: 1px solid #a09f9f;
					border-bottom: 1px solid #a09f9f;
					.single-social--share{
						p{
							color: #333;
							margin: 5px 0 0 0;
							font-size: 14px;
						}
					}
					.single-social--icons{
						.single-social--facebook{
							float: left;
							a{
								margin: 0 10px 0 0;
								padding: 8px 9px 3px 8px;
								border: 2px solid #6081c4;
								text-decoration: none;
								color: #6081c4;
								&:focus, &:hover{
									outline: none;
									background-color: #6081c4;
									color: #fff;
									transition: 0.2s;
									i{
										color: #fff;
										transition: 0.2s;
									}
								}
								i{
									margin-right: 6px;
									color: #6081c4;
									font-size: 20px;
								}
							}
						}
						.single-social--twitter{
							float: left;
							a{
								margin: 0 10px 0 0;
								padding: 8px 9px 3px 8px;
								border: 2px solid #00b8d7;
								text-decoration: none;
								color: #00b8d7;
								&:focus, &:hover{
									outline: none;
									background-color: #00b8d7;
									color: #fff;
									transition: 0.2s;
									i{
										color: #fff;
										transition: 0.2s;
									}
								}
								i{
									margin-right: 6px;
									color: #00b8d7;
									font-size: 20px;
								}
							}
						}
						.single-social--pinit{
							float: left;
							a{
								padding: 8px 9px 3px 8px;
								border: 2px solid #e94148;
								text-decoration: none;
								color: #e94148;
								&:focus, &:hover{
									outline: none;
									background-color: #e94148;
									color: #fff;
									transition: 0.2s;
									i{
										color: #fff;
										transition: 0.2s;
									}
								}
								i{
									margin-right: 6px;
									color: #e94148;
									font-size: 20px;
								}
							}
						}
					}
				}
				/*
					#####################
					   //SINGLE SOCIAL
					#####################
				*/


				/*
					###########################
					   SINGLE COMENTÁRIOS
					###########################
				*/
					.single-coments{
						position: relative;
						margin: 35px 0 25px 0;
						border-bottom: 1px solid #a09f9f;
						&::before{
							content: "";
							display: inline-block;
							width: 100%;
							position: relative;
							height: 1px;
							background-color: #a09f9f;
						}
						.align-title--absolute{
							max-width: 45%;
							top: 3px;
						}
						.single-coments--title{
							p{
								font-size: 24px;
								color: #6e6e6e;
								margin: 0;
								padding: 0 15px;
							}
						}
						.single-coments--container{
							.single-coments--top{
								margin: 0 0 25px 0;
								.single-coments--count{
									p{
										margin: 7px 0 0 0;
										color: #6e6e6e;
										font-size: 14px;
										font-weight: bold;
									}
									
								}
								.single-coments--filter{
									p{
										margin: 7px 10px 0 0;
										color: #6e6e6e;
										font-size: 14px;
									}
									select{
										color: #6e6e6e;
										padding: 5px 7px 5px 10px;
										border: 1px solid #6e6e6e;
										background-color: #f6f7f9;
										border-radius: 3px;
									}
								}
							}
							.single-coments--box{
								margin: 0 0 25px 0;
								.single-coments--box-img{
									overflow: hidden;
									img{
										min-width: 50px;
										min-height: 46px;
										max-width: 150%;
									}
								}
								.single-coments--box-text{
									textarea{
										padding: 6px 10px;
										height: 50px;
										border: 1px solid #6e6e6e;
									}
								}
							}
						}
					}


				/*
					###########################
					   //SINGLE COMENTÁRIOS
					###########################
				*/


				/*
					###########################
					    SINGLE RELACIONADOS
					###########################
				*/
					.single-related{
						margin: 40px 0 0 0;
						position: relative;
						&::before{
							content: "";
							display: inline-block;
							width: 100%;
							position: relative;
							height: 2px;
							background-color: #fd6b6b;
						}
						.align-title--absolute{
							top: 0;
							max-width: 50%;
						}
						.single-related--title{
							p{
								font-size: 24px;
								color: #fd6b6b;
								margin: 0;
								padding: 0 15px;
							}
						}
						/*
							#################################
							   SINGLE RELACIONADOS CAROUSEL
							#################################
						*/
						
							.related-block{
								margin: 20px 0 0 0;
								.related-block--carousel{
									position: relative;
									#button-prev--related{
										z-index: 1000;
										position: absolute;
										background-color: transparent;
										top: calc(90% - 50px);
										right: 100%;
										border: 0;
										i{
											color: #797574;
											font-size: 30px;
										}
									}
									#button-next--related{
										z-index: 1000;
										background-color: transparent;
										border: 0;
										position: absolute;
										left: 100%;
										top: calc(90% - 50px);
										i{
											color: #797574;
											font-size: 30px;
										}
									}
									#related--carousel{
										&.owl-carousel{
											margin: 0 20px 0 0;
											.owl-item{
												padding: 0 15px;
												img{
													min-height: 100%;
													min-width: 100%;
													max-width: 150%;
													width: auto;
													height: auto;
												}
										    }
										}
									}
									.related-container{
										position: relative;
										.related-container--img{
											overflow: hidden;
											height: 290px;
											.related-container--text{
												padding: 22px 0;
												height: auto;
												bottom: 0;
												position: absolute;
												background-color: rgba(0, 0, 0, 0.5);
												border-top: 2px solid #fd6b6b;
												.related-container--title{
													a{
														text-decoration: none;
														color: #fff;
														p{
															margin: 0;
															font-size: 18px;
														}
														&:hover, &:focus{
															outline: none;
														}
													}
												}
											}
										}

										
									}
								}
							}


						/*
							#################################
							  //SINGLE RELACIONADOS CAROUSEL
							#################################
						*/
					}

				/*
					###########################
					   //SINGLE RELACIONADOS
					###########################
				*/
			}
		}

	/*
		#####################
			 //SINGLE
		#####################
	*/



/*
	####################
		PAGINAÇÃO
	####################
*/
	.pagenavi{
		display: inline-block;
		#pagination{
			position: relative;
			.nav-pag{
				.wp-pagenavi{
					font-family: arial; 
					span{
						padding: 10px;
						background-color: #58bcb3;
						color: #fff;
						margin-right: 10px;
						font-family: arial; 
					}
					a{
						text-decoration: none;
						padding: 9px;
						border: 1px solid #5bcab7;
						color: #5bcab7;
						margin-right: 10px;
						&:hover{
							color: #fff;
							border: 1px solid #a5d6d2;
							background-color: #a5d6d2;
						}
					}
				}
			}
			.navigation{
				.nav-previous{
					top: -3px;
					left: 39%;
					position: absolute;
					a{
						font-weight: bold;
						text-decoration: none;
						font-size: 25px;
						color: #58bcb3;
						&:hover, &:focus{
							outline: none;
						}
					}
				}
				.nav-next{
					top: -3px;
					right: 39%;
					position: absolute;
					a{
						font-weight: bold;
						text-decoration: none;
						font-size: 25px;
						color: #58bcb3;
						&:hover, &:focus{
							outline: none;
						}
					}
				}
				/*
					#####################
						AUTHOR POSTS
					#####################
				*/
				.nav-previous--author{
					top: -5px;
					left: 35%;
					position: absolute;
					a{
						font-weight: bold;
						text-decoration: none;
						font-size: 25px;
						color: #58bcb3;
						&:hover, &:focus{
							outline: none;
						}
					}
				}
				.nav-next--author{
					top: -5px;
					right: 35%;
					position: absolute;
					a{
						font-weight: bold;
						text-decoration: none;
						font-size: 25px;
						color: #58bcb3;
						&:hover, &:focus{
							outline: none;
						}
					}
				}
				/*
					#####################
						//AUTHOR POSTS
					#####################
				*/
			}
		}
		
	}

/*
	####################
		//PAGINAÇÃO
	####################
*/

	/*
		#####################
		   BANNER CATEGORIA
		#####################
	*/
		.banner-single{
			margin: 0 0 45px 0;
			.banner-single--block{
				.banner-img{
					background-size: 100%;
					background-repeat: no-repeat;
					height: 322px;
					.banner-text{
						margin: 135px;
						font-size: 60px;
						color: #fff;
					}
				}
			}
		}
	/*
		#####################
		   BANNER CATEGORIA
		#####################
	*/
