/*
//////////////////////////////////////////////////
	Table
	Here you found all styles type for tables
//////////////////////////////////////////////////
*/
	//default
	.table{
		box-sizing: border-box;
		width: 100%;
		max-width: 100%;
		overflow-x: scroll;

		tr{
			border-bottom: 1px solid #CCC;	
			td{
				padding: 15px 10px;
				min-width: 50px;
			}
		}
		thead{
			
			tr{
				border-bottom: 2px solid #CCC;	

				td{
					font-weight: bold;
				}
			}		
		}
	}

	//border
	.table-border{
		border: 1px solid #ccc;
		tr{	
			td{			
				border-left: 1px solid #CCC;
			}
		}
	}

	//hover
	.table-hover{
		tbody{
			tr{
				&:hover{
					background-color: #F4F4F4;
				}
			}
		}
	}

	//striped
	.table-striped{
		tbody{
			tr{
				&:nth-child(odd){
					background-color: #f4f4f4;
				}
			}
		}
	}
/*
//////////////////////////////
	//Table
/////////////////////////////
*/