/*
//////////////////////////////////
	Typography
//////////////////////////////////
*/
	/*
	////////////////////////////
		Variable
	///////////////////////////
	*/
			
		/*
			Colors
		======================
		*/
			@color_light: #CCC;
			@color_primary: #da4f48;
			@color_strong: #aa413b;

		/*
			Font
		======================
		*/
			@myriad_regular: 'Myriad Pro Light';
			@myriad_italic: Arial, sans-serif;
			@myriad_size: 16px;

			@myriad_bold: 'Myriad Pro Regular';
			@myriad_italic: Arial, sans-serif;
			@myriad_size: 16px;

			@vollkorn_regular: 'vollkornitalic';
			@vollkorn_bold: 'vollkornbold';
			@vollkorn_size: 16px;

			@lato_regular: 'latoregular';
			@lato_bold: 'latobold';
			@lato_italic: Arial, sans-serif;
			@lato_size: 16px;


			@oswald_regular: 'Oswald';
			@oswald_bold: 'oswaldbold';
			@oswald_italic: Arial, sans-serif;
			@oswald_size: 16px;

			@noto_regular: 'noto_sansregular';
			@oswald_italic: Arial, sans-serif;
			@oswald_size: 16px;					
	/*
	////////////////////////////
		//Variable
	///////////////////////////
	*/
	/*
	////////////////////////////
		Font
	///////////////////////////
	*/
		span{
			font-family: @vollkorn_regular;
		}

		.myriad-light{
			font-family: @myriad_regular;
		}
		.myriad-regular{
			font-family: @myriad_bold;
		}

		.lato-regular{
			font-family: @lato_regular;
		}

		.oswald-regular{
			font-family: @oswald_regular;
		}
		.oswald-bold{
			font-family: @oswald_bold;
		}
		.vollkorn-regular{
			font-family: @vollkorn_regular;
		}
		.notosans-regular{
			font-family: @noto_regular;
		}

	/*
	////////////////////////////
		//Font
	///////////////////////////
	*/
	/*
	///////////////////////////
		Settings
	///////////////////////////
	*/
		/*
			Standard
		==================
		*/
			body{
				font-family: @myriad_regular;
				font-size: @myriad_size;
			}
	/*
	///////////////////////////
		//Settings
	///////////////////////////
	*/

	/*
	///////////////////////////
		Helpers
	///////////////////////////
	*/
		/*
		//////////////////////
			Align
		//////////////////////
		*/
			/* 
				Center
			==============	
			*/
				.text-center{
					text-align: center;
				}
			/*
				Left
			================
			*/
				.text-left{
					text-align: left;
				}
			/*
				Right
			================
			*/
				.text-right{
					text-align: right;
				}
		/*
		//////////////////////
			//Align
		//////////////////////
		*/

		/*
		//////////////////////
			Transform
		//////////////////////
		*/
			/*
				Uppercase
			================
			*/
				.text-up{
					text-transform: uppercase;
				}
			/*
				Lowercase
			================
			*/
				.text-down{
					text-transform: lowercase;
				}
		/*
		//////////////////////
			//Transform
		//////////////////////
		*/

		/*
		/////////////////////
			Title
		////////////////////
		*/
			.title{
				overflow: hidden;
				font-weight: bold;
				text-overflow: ellipsis;
				max-width: 100%;
			}
		/*
		/////////////////////
			//Title
		////////////////////
		*/
	/*
	///////////////////////////
		//Helpers
	///////////////////////////
	*/

	/*
	///////////////////////////
		Types
	///////////////////////////
	*/
		//bold
		[class^=typo-h-]{
			font-weight: bold;
			margin: 0;
			margin-top: 10px;
			margin-bottom: 15px;
		}
		//headlines
		.typo-h-1{
			font-size: 36px;
		}
		.typo-h-2{
			font-size: 30px;
		}
		.typo-h-3{
			font-size: 24px;
		}
		.typo-h-4{
			font-size: 18px;
		}
		.typo-h-5{
			font-size: 14px;
		}
		.typo-h-6{
			font-size: 12px;
		}

		//caption
		.typo-caption{
			font-size: 14px;
		}

		//paragraph
		.typo-p{
			font-size: 16px;
		}
	/*
	///////////////////////////
		//Types
	///////////////////////////
	*/

	/*
	///////////////////////////
		Display
	///////////////////////////
	*/	
		//inline
		.typo-display-i{
			display: inline;
		}

		//inline block
		.typo-display-ib{
			display: inline-block;
		}

		//block
		.typo-display-b{
			display: block;
		}
	/*
	///////////////////////////
		//Display
	///////////////////////////
	*/

	h1, h2, h3, h4, h5, h6, strong{
		small{

			font-size: 75%;
			color: rgba(0, 0, 0, 0.7);
		}
		font-family: @myriad_regular;
	}

/*
//////////////////////////////////
	//Typography
//////////////////////////////////
*/

