/*
///////////////////////////////
	Weather
///////////////////////////////
*/

	.weather{
		position: relative;
		font-family: 'Roboto', sans-serif;
		float: left;
		border: 1px solid #ccc;

		/*
		========================================
			Locality
		========================================
		*/
			.w-locality{
				display: block;
				font-size: 12px;
				padding: 0 10px;
				padding-bottom: 20px;
				border-bottom: 1px solid #ccc;

				&.w-locality-city{
					font-size: 18px;
					font-weight: bold;
					margin-top: 20px;
					padding-bottom: 0;
					border-bottom: 0;
				}
			}
		/*
		========================================
			//Locality
		========================================
		*/

		/*
		========================================
			Forecast
		========================================
		*/
			.w-forecast{
				display: block;
				font-size: 14px;
				padding: 0 10px;

				&.w-forecast-cli{
					margin: 10px 0;	
					text-transform: capitalize;
				}
				&.w-forecast-tmp{
					font-size: 48px;
					padding: 20px 0;
					text-align: center;
					background-color: #F4F4F4;					
					border-top: 1px solid #CCC;
				}	

				.w-icon{
					display: inline-block;
					width: 15px;
					height: 15px;
					margin-right: 5px;
					margin-bottom: -2px;
					background-position: center center;
					background-size: 15px auto;
				}			
			}

		/*
		========================================
			//Forecast
		========================================
		*/

		
	}