/*
######################################
	RESPONSIVE MD
######################################
*/
	//Notebook Geral
	@media only screen and(min-width: 1024px) and (orientation: portrait){
		.carousel-loja{
			&.col-xs-12{
				width: 41.65%;
			}
		}
		.carousel-destaque{
			&.col-xs-12{
				width: 49.98%;
			}
		}

		.posts-block{
			.posts-container{
				.posts-img{
					width: 470px;
					height: 300px;
				}
				.posts-content{
					&.col-xs-12{
						width: 49.98%;
					}
					.posts-ver{
						margin: 107px 0 21px;
					}
				}
			}
		}
		.right-block{
			margin: 50px 0 0 0;
			.sobre-block{
				&.col-mobile-6{
					float: left;
					width: 49.98%;
				}
			}
			.categoria-block{
				margin: 0 0 20px 0 !important;
				padding: 0 0 0 30px;
				&.col-mobile-6{
					float: right;
					width: 49.98%;
				}
			}
			.social-right--facebook{
				padding: 0 0 0 30px;
				&.col-mobile-6{
					float: right;
					width: 49.98%;
					display: inline-block;
				}
			}
			.social-right--instagram{
				display: none;
			}
		}

	}
	//Notebook 16'
	@media only screen and(min-width: 1280px) and (max-width: 1440px){

	}
	//Notebook 14'
	@media only screen and(min-width: 1024px) and (max-width: 1280px){

	}
/*
######################################
	//RESPONSIVE MD
######################################
*/