/*
######################################
	RESPONSIVE XS
######################################
*/
	//Mobile Geral
	//Mobile Landscape (Modo paisagem)
	@media only screen and(min-width: 480px) and (max-width: 920px) and (orientation: landscape){
		/*
			#################
			  HEADER MOBILE
			#################
		*/
				/*
					###################
					    MENU SIDEBAR
					###################
				*/
					.nav-menu{
						width: 100%;
						height: 80px;
						float: left;
						}

						.nav-menu ul{
							margin: 0;
							padding: 0;
						}

						.nav-menu ul li{
							&:active{
								text-decoration: none;
								background-color: #5bcab7;
							}
						}

						.nav-menu li a{
							display: block;
							font-size: 17px;
							padding: 14px 140px 10px 20px;
							color: #666666;
							text-decoration: none;
							&:hover{
								outline: none;
								color: #fff;
							}
						}

						nav-menu li a:visited{
							text-decoration: none;
						}
						.nav-menu li{
							list-style-type: none;
							text-decoration: none;
							border-bottom: 1px solid #ccc;
							&:last-child{
								border-bottom: 0;
							}
						}

					/*SideBar*/
					.menu{
						top: -10px;
						left: 0;
						z-index: 99999;
					}

					.icon-menu{
						width: 26px;
						position: relative;
						margin: 22px 0 0 14px;
					}
					.icon-menu .bar{
						width: 100%;
						height: 4px;
						float: left;
						border-radius: 5px;
						margin-bottom: 6px;
						background-color: #5bcab7;
						transition: 0.2s linear;
					}

					.mov .bar:first-child{
						width: 50%;
						margin-left: 50%;
						margin-top: 3px;
						margin-bottom: 0;
						transform: rotate(44deg);
						transition: 0.2s linear;
					}
					.mov .bar:nth-child(2){
						width: 70%;
						margin-left: 30%;
						margin-bottom: 0;
						transition: 0.2s linear;
					}
					.mov .bar:last-child{
						width: 50%;
						margin-left: 50%;
						transform: rotate(-44deg);
						transition: 0.2s linear;
					}

					.sidebar{
						width: 230px;
						height: 135px;
						position: fixed;
						top: 49px;
						left: -100%;
						transition: 0.6s;
						background-color: #fff;
						z-index: 99999;
						-webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
						-moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
						box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
					}
					.logo-sidebar{
						width: 230px;
						height: 190px;
						float: left;
						padding-left: 23px;
					}
				/*
					###################
					    MENU SIDEBAR
					###################
				*/
		/*
			#################
			 //HEADER MOBILE
			#################
		*/

		/*
			#################
			   	 HEADER
			#################
		*/
			.header{
				.header--social{
					ul{
						li{
							margin-right: 0;
							a{
								i{
									font-size: 22px;
									color: #797574;
								}
								.search{
									margin-right: 20px;
								}
							}
						}
					}
				}
			}


		/*
			#################
			    //HEADER
			#################
		*/

		/*
			#####################
				 CONTATO
			#####################
		*/
			.contato{
				.contato-mobile{
					&.container{
						padding: 0;
					}	
				}
				.contato-img{
					height: 350px;
				}
				.contato-block{
					padding: 20px 0 40px 0;
					.contato-container{
						.block-details--left{
							.block-details-title{
								h1{
									margin: 0 0 10px 0;
									color: #58bcb3;
									font-size: 13px;
									text-transform: uppercase;
								}
								h2{
									margin: 0 0 35px 0;
									color: #333;
									font-size: 20px;
									text-transform: uppercase;
								}
							}
							.block-details-content{
								p{
									line-height: 21px;
									margin: 0 0 30px 0;
									color: #999999;
									font-size: 14px;
									&:first-child{
										margin: 0;
									}
								}
							}
							.block-details-img{
								a{
									&:hover, &:focus{
										outline: none;
									}
									img{
										width: 137px;
										height: 40px;
									}
								}
							}
							.block-details-social{
								margin: 35px 0 0 0;
								ul{
									li{
										a{
											i{
												font-size: 18px;
												margin-right: 20px;
											}
										}
									}
								}
							}
						}
						.block-details--right{
							margin: 40px 0 0 0;
							.block-details-title{
								h2{
									margin: 0 0 20px 0;
								}
							}
							.block-details-content{
								p{
									margin: 0;
									font-size: 14px;
								}
							}
							.block-details-contact{
								.form-field{
									input{
										padding: 0 0 0 10px;
									}
									textarea{
										padding: 10px 0 0 10px;
									}
								}
								.button-field{
									button{
										width: 140px;
										height: 40px;
									}
								}
							}
						}
					}
				}
			}


		/*
			#####################
				 CONTATO
			#####################
		*/


		/*
			#####################
				  FOOTER
			#####################
		*/
			.footer{
				.footer-title{
					p{
						font-size: 16px;
					}
				}
				.footer-icon{
					&.left{
						float: initial;
					}
				}
				.footer-copiryght{
					&.right{
						float: initial;
					}
					position: relative;
					p{
						text-align: center;
						margin: 10px 0 0 0;
						font-size: 12px;
						color: #303030;
					}
				}

				
			}
		/*
			#####################
				  FOOTER
			#####################
		*/
			/*
		#################
		 //HEADER MOBILE
		#################
	*/

		.header-logo{
			margin: 15px 0 35px 0;
			a{
				img{
					width: 222px;
					height: auto;
				}
			}
		}

		.header-menu--list{
			height: 40px;
			border-top: 1px solid #797574;
			border-bottom: 1px solid #797574;
			ul{
				padding: 0;
				margin: 11px 0 0 0;
				li{
					padding: 0 20px;
					display: inline;
					list-style-type: none;
					&.active{
						a{
							color: #5bcab7;
						}
					}
					a{
						font-size: 14px;	
						text-transform: uppercase;
						text-decoration: none;
						color: #a09f9f;
						font-weight: bold;
						padding: 7px 0;
						&:hover, &:focus{
							outline: none;
							color: #5bcab7;
						}
					}
					&:first-child{
						padding-left: 0;
					}
					&:last-child{
						padding-right: 0;
					}
				}

				#button-prev--menu{
					background-color: transparent;
					border: 0;
					left: 0;
					top: 172px;
					z-index: 1000;
					position: absolute;
					i{
						font-size: 30px;
						color: #797574;
					}
					&:active{
						i{
							font-size: 32px;
							font-weight: bold;
						}
					}
				}
				#button-next--menu{
					background-color: transparent;
					border: 0;
					right: 0;
					top: 172px;
					z-index: 1000;
					position: absolute;
					i{
						font-size: 30px;
						color: #797574;
					}
					&:active{
						i{
							font-weight: bold;
							font-size: 32px;
						}
					}
					&:hover, &:focus{
						background-color: transparent;
						outline: none;
					}
				}
			}	
		}

		.header{
			.header--social{
				margin: 13px 0 0 0;
				.header-search{
					margin-top: -5px;
					form{
						input{
							width: 210px;
						}	
					}
				}	
				ul{
					margin: 0;
					padding: 0;
					li{
						margin-right: 0px;
						a{
							text-decoration: none;
							color: #6e6e6e;
							padding: 17px 15px 13px 15px;
							&:hover, &:focus{
								background-color: transparent;
							}
							i{
								font-size: 22px;
								color: #797574;
							}
							.search{
								margin-right: 4px;
							}
						}
						&:last-child{
							margin-right: 0;
						}

					}
				}
				.header-search{
					display: none;
					input{
						width: 110px;
						margin-right: 10px;
						color: #797574;
						border: 2px solid #797574;
						padding: 6px 5px 6px 10px;
					}
				}
				.open{
					display: block;
					&:focus{
						width: 238px;
						transition: 3s;
					}
				}
				.close{
					display: none;
				}
			}
		}

	/*
		#####################
			 CAROUSEL
		#####################
	*/
		.carousel-destaque{
			#banner--carousel{
				&.owl-carousel{
					.owl-stage{
						.owl-item{
							&.active{
								.banner-block{
									.block-details--banner{
										bottom: 0;
									}
								}
							}
						}
					}
					.owl-controls{
						.owl-dots{
							bottom: initial;
							left: 0;
							.owl-dot{
								width: 10px;
								height: 10px;
							}
						}
					}
				}
			}
			.banner-block{
				position: relative;
				width: 100%;
				height: 390px;
				overflow: hidden;
				img{
					width: auto;
					height: auto;
					min-width: 100%;
					min-height: 100%;
					max-width: 150%;
				}
				.block-details--banner{
					padding: 15px 0;
					height: auto;
					.block-details--content{
						.block-details--content-title{
							margin-bottom: 5px;
							&::after{
								content: "";
								width: 70px;
								height: 1px;
								background-color: #fff;
								display: inline-block;
							}
							h1{
								font-size: 16px;
								margin: 0;
								color: #fff;
								margin: 0;
								margin-bottom: -5px;
							}
						}
						h2{
							font-weight: 300;
							font-size: 12px;
							color: #fff;
							margin: 0;
							line-height: 18px;
							p{
								margin: 0;
							}
						}
					}
				}
			}
		}

		.carousel-loja{
			margin: 50px 0 0 0;
			.loja-container{
				.loja-title{
					p{
						font-size: 30px;
					}
				}
				.loja-block{
					position: relative;
					width: 100%; 
					height: 297px;
					border: 1px solid #797574;
					#button-prev{
						background-color: transparent;
						border: 0;
						right: 75%;
						top: calc(~"42% - 30px");
						z-index: 1000;
						position: absolute;
						i{
							font-size: 35px;
							color: #797574;
						}
					}
					#button-next{
						background-color: transparent;
						border: 0;
						position: absolute;
						left: 75%;
						top: calc(~"42% - 30px");
						z-index: 1000;
						i{
							font-size: 35px;
							color: #797574;
						}

					}
					.loja-container--img{
						margin-top: 30px;
						//overflow: hidden;
						width: 170px;
						.block-details--loja{
							h1{
								font-size: 16px;
							}
							h2{
								font-size: 12px;
								margin: 0;
							}
						}
					}
					#loja--carousel{
						&.owl-carousel{
							.owl-item{
								img{
									min-width: 100%;
									min-height: 100%;
									max-width: 150%;
									width: 100%;
									height: 100%;
									margin: 0 auto;
								}
							}
						}
					}
				}
			}
		}						

	/*
		#####################
			// CAROUSEL
		#####################
	*/
	/*
		#####################
			   SLIDER
		#####################
	*/

		.slider{
			padding: 25px;
			margin: 0;
			.align-title--absolute{
				max-width: 45%;
			}
			.slider-title{
				p{
					font-size: 30px;
					font-weight: bold;
				}
			}
			.slider-block{
				padding: 5px;
				background-color: #fff;
				position: relative;
				box-shadow: 0px 0px 1em #666;
					#button-prev--slider{
						right: 102%;
					}
					#button-next--slider{
						left: 102%;
					}
					#slider--carousel{
						&.owl-carousel{
							.owl-item{
								img{
									min-height: 100%;
									min-width: 100%;
									max-width: 150%;
									width: auto;
									height: auto;
								}
						    }
						}
					}
					.slider-container{
						position: relative;
						.slider-container--img{
							overflow: hidden;
							height: 236px;
							a{
								text-decoration: none;
								color: #fff;
							}
							ul{
								margin: 0; 
								padding: 0;
								li{
									a{
										font-size: 21px;
										text-decoration: none;
										color: #fff;
									}
								}
							}
							.slider-content{
								opacity: 1;
							}
						}
					}
				}
			}
	/*
		#####################
			  //SLIDER
		#####################
	*/

	/*
		#####################
			  POSTS
		#####################
	*/	
		.posts-block{
			margin: 50px 0 0 0;
			&.posts-page{
				margin: 55px 0 0 0;
			}
			.posts-container{
				margin: 0 0 50px 0;
			}
			.posts-img{
				width: 235px;
				height: 235px;
			}
			.posts-content{
				padding: 0 0 0 20px;
				&.col-xs-12{
					width: 46.98%;
				}
				margin: 0;
				.post-categories{
					margin: 0 0 10px 0;
					padding: 0;
				}
				text-decoration: none;
				.posts-category{
					span{
						margin: 0;
						font-size: 14px;
						line-height: 22px;
						color: #666666;
						&:hover{
							text-decoration: underline;
						}
					}
				}
				.posts-title{
					p{
						font-size: 20px;
						margin: 0 0 5px 0;
					}
				}
				.posts-author{
					margin: 0 0 15px 0;
					span{
						font-size: 14px;
						color:#fd6b6b;
						i{
							a{
								color: #fd6b6b;
								text-decoration: none;
								&:hover{
									text-decoration: underline;
								}
							}
						}
					}
				}
				.posts-about{
					p{
						margin-bottom: 0;
						color: #a09f9f;
						max-width: 100%;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						margin: 0;
					}
				}
			}

			.posts-ver{
				margin: 15px 0 21px 0;
				border-bottom: 1px solid #d8dadd;
				a{
					text-decoration: none;
					font-size: 18px;
					color: #0ab3a3;
					&:focus, &:hover{
						text-decoration: underline;
						outline: none;
					}
				}
			}
			.posts-social{
				.posts-social--facebook{
					a{
						display: inline-block;
						border-radius: 5px;
						margin: 0 10px 0 0;
						padding: 5px 7px 3px 7px;
						i{
							margin-right: 0;
							color: #6081c4;
							font-size: 20px;
						}
					}
				}
				.posts-social--twitter{
					a{
						display: inline-block;
						border-radius: 5px;
						margin: 0 10px 0 0;
						padding: 5px 7px 3px 7px;
						i{
							margin-right: 0;
							color: #00b8d7;
							font-size: 20px;
						}	
					}
				}
				.posts-social--pinit{
					a{
						display: inline-block;
						border-radius: 5px;
						padding: 5px 7px 3px 7px;
						i{
							margin-right: 0;
							color: #e62c34;
							font-size: 20px;
						}
					} 
				}
			}
		}
	/*
		#####################
			  //POSTS
		#####################
	*/


	/*
		#####################
			  DICAS
		#####################
	*/
			.dicas-block{
				margin: 25px 0 20px 0;
				.align-title--absolute{
					max-width: 55%;
				}
				.dicas-title{
					p{
						font-size: 30px;
					}
				}
				.dicas-block--carousel{
					.dicas-block--align{
						margin: 0;
					}
					#button-next--dicas{
						right: -10px;
						top: 15%;
						z-index: 1000;
						i{
							font-size: 30px;
						}
						&:active{
							i{
								font-size: 32px;
								font-weight: bold;
							}
						}
					}
					.button-prev--dicas{
						left: -10px;
						top: 15%;
						z-index: 1000;
						i{
							font-size: 30px;
						}
						&:active{
							i{
								font-size: 32px;
								font-weight: bold;
							}
						}
					}
					.dicas--carousel{
						&.owl-carousel{
							.owl-item{
								height: 200px;
								padding: 0 5px;
							} 
						} 
					}
					.dicas-container{
						h1{
							margin: 8px 0 0 0;
							font-size: 14px;
						}
						h2{
							margin: 0 0 10px 0;
							font-size: 12px;
						}
						a{
							font-size: 12px;
						}
						.dicas-container--img{
							position: relative;
							height: 112px;
							width: 112px;
							overflow: hidden;
							img{
								min-width: 100%;
								min-height: 100%;
								max-width: 150%;
								width: 100%;
								height: 100%;
								border: 1px solid #a09f9f;
							}

							.dicas-container--block{
								position: absolute;
								display: none;
							}

						}
					}
				}
			}
	/*
		#####################
			  //DICAS
		#####################
	*/


	/*
		#####################
			  SOBRE
		#####################
	*/
		.right-block{
			margin: 45px 0 0 0;
			.sobre-block{
				&.col-mobile-6{
					float: left;
					width: 49.98%;
				}
				display: inline-block;
				background-color: #f7f7f7;
				&.container{
					padding: 0;
				}
				.sobre-img{
					width: 100%; 
					height: 240px;
					overflow: hidden;
					img{
						min-width: 100%;
						min-height: 100%;
						max-width: 150%;
					}
				}
				.sobre-title{
					p{
						color: #666666;
						margin: 15px 0;
						font-size: 30px;
					}
				}
				.sobre-text{
					p{
						margin: 30px 0 35px 0;
						font-size: 14px;
					}
					.sobre-logo{
						margin: 0 0 90px 0;
						a{
							&:hover, &:focus{
								outline: none;
							}
						}
						
					}
				}
			}
			.categoria-block{
				margin: 0;
				&.col-mobile-6{
					width: 49.98%;
					margin: 0;
					float: right;
					padding: 0 0 0 28px;
				}
				input{
					padding: 15px 40px;
					width: 100%;
					border: 1px solid #a09f9f;
				}
				.categoria-search{
					.categoria-icon{
						img{
							z-index: 1000;
							position: absolute;
							padding: 17px 16px;
						}
					}
				}
				.categoria-list{
					margin: 30px 0 20px 0;
					h2{
						color: #666666;
						margin: 0 0 15px 0;
						font-size: 14px;
					}
					nav{
						ul{
							margin: 0;
							padding: 0;
							li{
								padding: 0;
								list-style-type: none;
								border-top: 1px solid #a09f9f;
								a{
									padding: 13px 0 13px 0;
									display: inline-block;
									text-decoration: none;
									color: #a09f9f;
									&:hover, &:focus{
										outline: none;
										color: #0ab3a3;
									}
								}
								&:last-child{
									border-bottom: 1px solid #a09f9f;
								}
							}
						}
					}
				}
			}
			.posts-block{
				.posts-block--title{
					h1{
						color: #303030;
						margin: 30px 0;
						font-size: 14px;
					}
				}
				.posts-container{
					border-top: 1px solid #9a9a9a;
					margin: 8px 0;
					padding: 8px 0 0 0;
					&:last-child{
						border-bottom: 1px solid #9a9a9a;
						padding: 8px 0 8px 0;
					}
					h1{
						font-size: 14px;
					}
					.posts-container-align{
						.posts-container--category{
							span{
								ul{
									margin: 0;
									padding: 0;
									li{
										list-style-type: none;
										a{
											text-decoration: none;
											font-size: 14px;
											color: #fd6b6b;	
											&:focus, &:hover{
												outline: none;
											}
										}
									}
								}
							}
						}
						.posts-container--title{
								p{
									margin: 5px 0;
									a{
										text-decoration: none;
										color: #9a9a9a;
										font-size: 14px;
							
										&:hover{
											color: #5bcab7;
										}
									}
								}		
						}
						.posts-container--date{
							p{
								text-transform: uppercase;
								margin: 0;
								color: #9a9a9a;
								font-size: 14px;
							}
						}
						.posts-container--img{
							width: 98px;
							height: 66px;
							overflow: hidden;
							a{
								color: #9a9a9a;
								font-size: 14px;
								text-decoration: none;
								img{
									min-width: 100%;
									min-height: 100%;
									max-width: 150%;
								}
							}
						}
					}
				}
			}
			.social-right--facebook{
				&.col-mobile-6{
					padding: 0 0 0 15px;
					float: right;
					width: 47.98%;
				}
				margin: 0;
			}
			.social-right--instagram{
				margin: 30px 0 0 0;
				.insta-container{
					.insta-text{
						margin: 10px 0 0 0;
						h1{
							margin: 0;
							font-size: 14px;
						}
						h2{
							margin: 0;
							a{
								text-decoration: none;
								font-size: 14px;
								color: #9a9a9a;
								&:hover, &:focus{
									outline: none;
								}
							}
						}
					}
				}
			}

		}
	/*
		#####################
			  //SOBRE
		#####################
	*/

	/*
		####################
			PAGINAÇÃO
		####################
	*/
		.pagenavi{
			display: inline-block;
			#pagination{
				.navigation{
					.nav-previous{
						top: -5px;
						left: 36%;
					}
					.nav-next{
						top: -5px;
						right: 36%;
					}
				}
					/*
						#####################
							AUTHOR POSTS
						#####################
					*/
					.nav-previous--author{
						top: -5px;
						left: 35%;
						position: absolute;
						a{
							font-weight: bold;
							text-decoration: none;
							font-size: 25px;
							color: #58bcb3;
							&:hover, &:focus{
								outline: none;
							}
						}
					}
					.nav-next--author{
						top: -5px;
						right: 35%;
						position: absolute;
						a{
							font-weight: bold;
							text-decoration: none;
							font-size: 25px;
							color: #58bcb3;
							&:hover, &:focus{
								outline: none;
							}
						}
					}
					/*
						#####################
							//AUTHOR POSTS
						#####################
					*/
				}
			}

	/*
		####################
			//PAGINAÇÃO
		####################
	*/

	/*
		#####################
			  FOOTER
		#####################
	*/
		.footer{
			.footer-title{
				p{
					font-size: 16px;
				}
			}
			.footer-icon{
				&.left{
					float: initial;
				}
			}
			.footer-copiryght{
				position: relative;
				p{
					text-align: center;
					margin: 10px 0 0 0;
					font-size: 12px;
					color: #303030;
				}
			}

			
		}


	/*
		#####################
			 //FOOTER
		#####################
	*/

	/*
		#####################
			 SINGLE
		#####################
	*/
		.single{
			margin: 28px 0 140px 0;
			.single-posts{
				.single-content{
					.single-category{
						font-size: 18px;
						ul{
							margin: 0;
							padding: 0;
							li{
								margin-bottom: 10px;
								list-style-type: none;
								a{
									color: #fd6b6b;
									text-decoration: none;
								}
							}
						}
					}
					.single-title{
						p{
							margin: 0 0 5px 0;
							text-transform: uppercase;
							color: #666;
							font-size: 26px;
						}
					}
					.single-author{
						margin-bottom: 25px;
						color: #fd6b6b;
						font-size: 12px;
						span{
							i{
								a{
									color: #fd6b6b;
									text-decoration: none;
									&:hover, &:focus{
										outline: none;
										text-decoration: underline;
									}

								}
							}
						}
					}
					.single-about{
						p{
							margin: 0 0 30px 0;
							color: #a09f9f;
							line-height: 20px;
							font-size: 14px;
						}
					}
				}
				.single-img{
					overflow: hidden;
					width: 100%;
					height: 300px;
					img{
						min-width: 100%;
						min-height: 100%;
						max-width: 150%;
					}
				}

				/*
					#####################
						SINGLE CATEGORY
					#####################
				*/
					.single-category{
						.single-category--img{
							width: 220px;
							height: 220px;
						}
						.single-category--title{
							.text-align{
								h1{
									margin: 10px 0 0 0;
									font-size: 14px;
									color: #6e6e6e;
									span{
										color: #7bbab4;
									}
								}
							}
							.link-align{
								p{
									margin: 9px 0 0 0;
									a{
										text-decoration: none;
										margin-left: 20px;
										font-size: 13px;
										padding: 9px 15px 7px 15px;
										background-color: #5bcab7;
										border: 0;
										color: #fff;
										&:hover, &:focus{
											outline: none;
											background-color: #0ab3a3;
										}
									}
								}
							}
						}
						.single-category--content{
							margin: 20px 0 0 0;
							p{
								line-height: 20px;
								margin: 0;
								font-size: 14px;
								color: #a09f9f;
							}
						}
					}


				/*
					#####################
						//SINGLE CATEGORY
					#####################
				*/


				/*	
					###########################
					   SINGLE CAROUSEL DICAS
					###########################
				*/
				.dicas-block{
					.align-title--absolute{
						max-width: 44%;
					}
					.dicas-title{
						p{
							font-size: 18px;
						}
					}
					.dicas-block--carousel{
						.dicas-block--align{
							margin: 0 0 10px 0;
						}
						.dicas-container{
							h1{
								font-size: 12px;
							}
						}
					}
				}
				/*
					###########################
					  //SINGLE CAROUSEL DICAS
					###########################
				*/


				/*
					#####################
						SINGLE SOCIAL
					#####################
				*/

				.single-social{
					padding: 6px 0 8px 0;
					.single-social--share{
						p{
							margin: 10px 0 0 0;
						}
					}
					.single-social--icons{
						.single-social--facebook{
							a{
								display: inline-block;
								padding: 4px 8px 1px 8px;
								i{
									margin-right: 0;
								}
							}
						}
						.single-social--twitter{
							a{
								display: inline-block;
								padding: 4px 7px 1px 7px;
								i{
									margin-right: 0;
								}
							}
						}
						.single-social--pinit{
							a{
								display: inline-block;
								padding: 4px 8px 1px 8px;
								i{
									margin-right: 0;
								}
							}
						}
					}
				}
				/*
					#####################
					   //SINGLE SOCIAL
					#####################
				*/


				/*
					###########################
					   SINGLE COMENTÁRIOS
					###########################
				*/
					.single-coments{
						position: relative;
						margin: 35px 0 25px 0;
						.align-title--absolute{
							max-width: 55%;
						}
						.single-coments--title{
							p{
								font-size: 18px;
								color: #6e6e6e;
								margin: 0;
								padding: 0 15px;
							}
						}
						.single-coments--container{
							.single-coments--top{
								margin: 0 0 25px 0;
								.single-coments--count{
									p{
										margin: 7px 0 0 0;
										color: #6e6e6e;
										font-size: 14px;
										font-weight: bold;
									}
									
								}
								.single-coments--filter{
									p{
										margin: 7px 10px 0 0;
										color: #6e6e6e;
										font-size: 14px;
									}
									select{
										color: #6e6e6e;
										padding: 5px 7px 5px 10px;
										border: 1px solid #6e6e6e;
										background-color: #f6f7f9;
										border-radius: 3px;
									}
								}
							}
							.single-coments--box{
								margin: 0 0 25px 0;
								.single-coments--box-img{
									overflow: hidden;
									img{
										min-width: 50px;
										min-height: 46px;
										max-width: 150%;
									}
								}
								.single-coments--box-text{
									textarea{
										padding: 6px 10px;
										height: 50px;
										border: 1px solid #6e6e6e;
									}
								}
							}
						}
					}


				/*
					###########################
					   //SINGLE COMENTÁRIOS
					###########################
				*/


				/*
					###########################
					    SINGLE RELACIONADOS
					###########################
				*/
					.single-related{
						.align-title--absolute{
							max-width: 57%;
							top: 3px;
						}
						.single-related--title{
							p{
								font-size: 18px;
							}
						}
						/*
							#################################
							   SINGLE RELACIONADOS CAROUSEL
							#################################
						*/
						
							.related-block{
								margin: 20px 0 0 0;
								.related-block--carousel{
									#button-prev--related{
										right: 98%;
										&:active{
											i{
												font-size: 32px;
												font-weight: bold;
											}
										}
									}
									#button-next--related{
										left: 98%;
										&:active{
											i{
												font-size: 32px;
												font-weight: bold;
											}
										}
									}
									#related--carousel{
										&.owl-carousel{
											margin: 0 20px 0 0;
											.owl-item{
												padding: 0 15px;
												img{
													min-height: 100%;
													min-width: 100%;
													max-width: 150%;
													width: auto;
													height: auto;
												}
										    }
										}
									}
									.related-container{
										position: relative;
										.related-container--img{
											overflow: hidden;
											height: auto;
											.related-container--text{
												bottom: 0;
												position: absolute;
												background-color: rgba(0, 0, 0, 0.5);
												border-top: 2px solid #fd6b6b;
												.related-container--title{
													color: #fff;
													font-size: 18px;
												}
											}
										}

										
									}
								}
							}


						/*
							#################################
							  //SINGLE RELACIONADOS CAROUSEL
							#################################
						*/
					}

				/*
					###########################
					   //SINGLE RELACIONADOS
					###########################
				*/
			}
		}

	/*
		#####################
			 //SINGLE
		#####################
	*/


	}

	//IPHONE 4
	@media only screen and(min-width: 320px) and (max-width: 475px){

	/*
		#################
		  HEADER MOBILE
		#################
	*/
			/*
				###################
				    MENU SIDEBAR
				###################
			*/
				.nav-menu{
					width: 100%;
					height: 80px;
					float: left;
					}

					.nav-menu ul{
						margin: 0;
						padding: 0;
					}

					.nav-menu ul li{
						&:active{
							text-decoration: none;
							background-color: #5bcab7;
						}
					}

					.nav-menu li a{
						display: block;
						font-size: 17px;
						padding: 14px 140px 10px 20px;
						color: #666666;
						text-decoration: none;
						&:hover{
							outline: none;
							color: #fff;
							background-color: #5bcab7;
						}
						&:focus{
							background-color: #5bcab7;
							color: #fff;
						}
					}

					nav-menu li a:visited{
						text-decoration: none;
					}
					.nav-menu li{
						list-style-type: none;
						text-decoration: none;
						border-bottom: 1px solid #ccc;
						&:last-child{
							border-bottom: 0;
						}
					}

				/*SideBar*/
				.menu{
					top: -10px;
					left: 0;
					z-index: 99999;
				}

				.icon-menu{
					width: 26px;
					position: relative;
					margin: 22px 0 0 14px;
				}
				.icon-menu .bar{
					width: 100%;
					height: 4px;
					float: left;
					border-radius: 5px;
					margin-bottom: 6px;
					background-color: #5bcab7;
					transition: 0.2s linear;
				}

				.mov .bar:first-child{
					width: 50%;
					margin-left: 50%;
					margin-top: 3px;
					margin-bottom: 0;
					transform: rotate(44deg);
					transition: 0.2s linear;
				}
				.mov .bar:nth-child(2){
					width: 70%;
					margin-left: 30%;
					margin-bottom: 0;
					transition: 0.2s linear;
				}
				.mov .bar:last-child{
					width: 50%;
					margin-left: 50%;
					transform: rotate(-44deg);
					transition: 0.2s linear;
				}

				.sidebar{
					width: 230px;
					height: 135px;
					position: fixed;
					top: 49px;
					left: -100%;
					transition: 0.6s;
					background-color: #fff;
					z-index: 99999;
					-webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
					-moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
					box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
				}
				.logo-sidebar{
					width: 230px;
					height: 190px;
					float: left;
					padding-left: 23px;
				}
			/*
				###################
				    MENU SIDEBAR
				###################
			*/
	/*
		#################
		 //HEADER MOBILE
		#################
	*/

		.header-logo{
			margin: 15px 0 35px 0;
			a{
				img{
					width: 222px;
					height: auto;
				}
			}
		}

		.header-menu--list{
			height: 40px;
			border-top: 1px solid #797574;
			border-bottom: 1px solid #797574;
			ul{
				padding: 0;
				margin: 11px 0 0 0;
				li{
					padding: 0 20px;
					display: inline;
					list-style-type: none;
					&.active{
						a{
							color: #5bcab7;
						}
					}
					a{
						font-size: 14px;	
						text-transform: uppercase;
						text-decoration: none;
						color: #a09f9f;
						font-weight: bold;
						padding: 7px 0;
						&:hover, &:focus{
							outline: none;
							color: #5bcab7;
						}
					}
					&:first-child{
						padding-left: 0;
					}
					&:last-child{
						padding-right: 0;
					}
				}

				#button-prev--menu{
					background-color: transparent;
					border: 0;
					left: 0;
					top: 172px;
					z-index: 1000;
					position: absolute;
					i{
						font-size: 30px;
						color: #797574;
					}
					&:active{
						i{
							font-size: 32px;
							font-weight: bold;
						}
					}
				}
				#button-next--menu{
					background-color: transparent;
					border: 0;
					right: 0;
					top: 172px;
					z-index: 1000;
					position: absolute;
					i{
						font-size: 30px;
						color: #797574;
					}
					&:active{
						i{
							font-weight: bold;
							font-size: 32px;
						}
					}
					&:hover, &:focus{
						background-color: transparent;
						outline: none;
					}
				}
			}	
		}

		.header{
			.header--social{
				margin: 13px 0 0 0;
				.header-search{
					margin-top: -5px;
				}	
				ul{
					margin: 0;
					padding: 0;
					li{
						margin-right: 0px;
						a{
							text-decoration: none;
							color: #6e6e6e;
							padding: 17px 15px 13px 15px;
							&:hover, &:focus{
								background-color: transparent;
							}
							i{
								font-size: 22px;
								color: #797574;
							}
							.search{
								margin-right: 4px;
							}
						}
						&:last-child{
							margin-right: 0;
						}

					}
				}
				.header-search{
					display: none;
					input{
						width: 110px;
						margin-right: 10px;
						color: #797574;
						border: 2px solid #797574;
						padding: 6px 5px 6px 10px;
					}
				}
				.open{
					display: block;
					&:focus{
						width: 238px;
						transition: 3s;
					}
				}
				.close{
					display: none;
				}
			}
		}

	/*
		#####################
			 CAROUSEL
		#####################
	*/
		.carousel-destaque{
			#banner--carousel{
				&.owl-carousel{
					.owl-stage{
						.owl-item{
							&.active{
								.banner-block{
									.block-details--banner{
										bottom: 0;
									}
								}
							}
						}
					}
					.owl-controls{
						.owl-dots{
							bottom: initial;
							left: 0;
							.owl-dot{
								width: 10px;
								height: 10px;
							}
						}
					}
				}
			}
			.banner-block{
				position: relative;
				width: 100%;
				height: auto;
				overflow: hidden;
				img{
					width: auto;
					height: auto;
					min-width: 100%;
					min-height: 100%;
					max-width: 150%;
				}
				.block-details--banner{
					padding: 15px 0;
					height: auto;
					.block-details--content{
						.block-details--content-title{
							margin-bottom: 5px;
							h1{
								font-size: 16px;
								margin: 0;
								color: #fff;
								margin: 0;
								margin-bottom: -5px;
							}
						}
						h2{
							font-weight: 300;
							font-size: 12px;
							color: #fff;
							margin: 0;
							line-height: 18px;
							p{
								margin: 0;
							}
						}
					}
				}
			}
		}

		.carousel-loja{
			margin: 50px 0 0 0;
			.loja-container{
				position: relative;
				.loja-title{
					p{
						font-weight: bold;
						font-size: 18px;
					}
				}
				.loja-block{
					position: relative;
					width: 100%; 
					height: 297px;
					border: 1px solid #797574;
					#button-prev{
						background-color: transparent;
						border: 0;
						right: 85%;
						top: calc(~"42% - 30px");
						z-index: 1000;
						position: absolute;
						i{
							font-size: 35px;
							color: #797574;
						}
					}
					#button-next{
						background-color: transparent;
						border: 0;
						position: absolute;
						left: 85%;
						top: calc(~"42% - 30px");
						z-index: 1000;
						i{
							font-size: 35px;
							color: #797574;
						}

					}
					.loja-container--img{
						margin-top: 30px;
						//overflow: hidden;
						width: 170px;
						.block-details--loja{
							h1{
								font-size: 16px;
							}
							h2{
								font-size: 12px;
								margin: 0;
							}
						}
					}
					#loja--carousel{
						&.owl-carousel{
							.owl-item{
								img{
									min-width: 100%;
									min-height: 100%;
									max-width: 150%;
									width: 100%;
									height: 100%;
									margin: 0 auto;
								}
							}
						}
					}
				}
			}
		}						

	/*
		#####################
			// CAROUSEL
		#####################
	*/
	/*
		#####################
			   SLIDER
		#####################
	*/

		.slider{
			padding: 18px;
			margin: 30px 0 0 0;
			.align-title--absolute{
				max-width: 50%;
				top: -17px;
			}
			.slider-title{
				p{
					font-size: 18px;
					font-weight: bold;
				}
			}
			.slider-block{
				padding: 5px;
				background-color: #fff;
				position: relative;
				box-shadow: 0px 0px 1em #666;
					#button-prev--slider{
						right: 102%;
					}
					#button-next--slider{
						left: 102%;
					}
					#slider--carousel{
						&.owl-carousel{
							.owl-item{
								img{
									min-height: 100%;
									min-width: 100%;
									max-width: 150%;
									width: auto;
									height: auto;
								}
						    }
						}
					}
					.slider-container{
						position: relative;
						.slider-container--img{
							overflow: hidden;
							height: 236px;
							a{
								text-decoration: none;
								color: #fff;
							}
							ul{
								margin: 0; 
								padding: 0;
								li{
									a{
										font-size: 21px;
										text-decoration: none;
										color: #fff;
									}
								}
							}
							.slider-content{
								opacity: 1;
							}
						}
					}
				}
			}
	/*
		#####################
			  //SLIDER
		#####################
	*/

	/*
		#####################
			  POSTS
		#####################
	*/	
		.posts-block{
			margin: 50px 0 0 0;
			&.posts-page{
				margin: 55px 0 0 0;
			}
			.posts-container{
				margin: 0 0 50px 0;
			}
			.posts-img{
				width: 100%;
				height: 290px;
			}
			.posts-content{
				margin: 13px 0 0 0;
				&.container{
					padding: 0;
				}
				.post-categories{
					margin: 0 0 10px 0;
					padding: 0;
				}
				text-decoration: none;
				.posts-category{
					span{
						margin: 0;
						font-size: 14px;
						line-height: 22px;
						color: #666666;
						&:hover{
							text-decoration: underline;
						}
					}
				}
				.posts-title{
					p{
						font-size: 20px;
						margin: 0 0 5px 0;
					}
				}
				.posts-author{
					margin: 0 0 15px 0;
					span{
						font-size: 14px;
						color:#fd6b6b;
						i{
							a{
								color: #fd6b6b;
								text-decoration: none;
								&:hover{
									text-decoration: underline;
								}
							}
						}
					}
				}
				.posts-about{
					p{
						margin-bottom: 0;
						color: #a09f9f;
						max-width: 100%;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						margin: 0;
					}
				}
			}

			.posts-ver{
				margin: 30px 0 21px 0;
				border-bottom: 1px solid #d8dadd;
				a{
					text-decoration: none;
					font-size: 18px;
					color: #0ab3a3;
					&:focus, &:hover{
						text-decoration: underline;
						outline: none;
					}
				}
			}
			.posts-social{
				.posts-social--facebook{
					a{
						display: inline-block;
						border-radius: 5px;
						margin: 0 10px 0 0;
						padding: 5px 7px 3px 7px;
						i{
							margin-right: 0;
							color: #6081c4;
							font-size: 20px;
						}
					}
				}
				.posts-social--twitter{
					a{
						display: inline-block;
						border-radius: 5px;
						margin: 0 10px 0 0;
						padding: 5px 7px 3px 7px;
						i{
							margin-right: 0;
							color: #00b8d7;
							font-size: 20px;
						}	
					}
				}
				.posts-social--pinit{
					a{
						display: inline-block;
						border-radius: 5px;
						padding: 5px 7px 3px 7px;
						i{
							margin-right: 0;
							color: #e62c34;
							font-size: 20px;
						}
					} 
				}
			}
		}
	/*
		#####################
			  //POSTS
		#####################
	*/


	/*
		#####################
			  DICAS
		#####################
	*/
			.dicas-block{
				margin: 25px 0 20px 0;
				.align-title--absolute{
					top: -9px;
					max-width: 58%;
				}
				.dicas-title{
					p{
						font-size: 18px;
					}
				}
				.dicas-block--carousel{
					.dicas-block--align{
						margin: 0;
					}
					.button-next--dicas{
						right: -10px;
						top: 15%;
						z-index: 1000;
						i{
							font-size: 30px;
						}
						&:active{
							i{
								font-size: 32px;
								font-weight: bold;
							}
						}
					}
					.button-prev--dicas{
						left: -10px;
						top: 15%;
						z-index: 1000;
						i{
							font-size: 30px;
						}
						&:active{
							i{
								font-size: 32px;
								font-weight: bold;
							}
						}
					}
					.dicas--carousel{
						&.owl-carousel{
							.owl-item{
								height: 200px;
								padding: 0 5px;
							} 
						} 
					}
					.dicas-container{
						h1{
							margin: 8px 0 0 0;
							font-size: 14px;
						}
						h2{
							margin: 0 0 10px 0;
							font-size: 12px;
						}
						a{
							font-size: 12px;
						}
						.dicas-container--img{
							position: relative;
							height: 112px;
							width: 112px;
							overflow: hidden;
							img{
								min-width: 100%;
								min-height: 100%;
								max-width: 150%;
								width: 100%;
								height: 100%;
								border: 1px solid #a09f9f;
							}

							.dicas-container--block{
								position: absolute;
								display: none;
							}

						}
					}
				}
			}
	/*
		#####################
			  //DICAS
		#####################
	*/


	/*
		#####################
			  SOBRE
		#####################
	*/
		.right-block{
			margin: 45px 0 0 0;
			.sobre-block{
				background-color: #f7f7f7;
				&.container{
					padding: 0;
				}
				.sobre-img{
					width: 100%; 
					height: 240px;
					overflow: hidden;
					img{
						min-width: 100%;
						min-height: 100%;
						max-width: 150%;
					}
				}
				.sobre-title{
					p{
						color: #666666;
						margin: 15px 0;
						font-size: 30px;
					}
				}
				.sobre-text{
					p{
						font-size: 14px;
					}
					.sobre-logo{
						a{
							&:hover, &:focus{
								outline: none;
							}
						}
						
					}
				}
			}
			.categoria-block{
				margin: 30px 0 0 0;
				input{
					padding: 15px 40px;
					width: 100%;
					border: 1px solid #a09f9f;
				}
				.categoria-search{
					.categoria-icon{
						img{
							z-index: 1000;
							position: absolute;
							padding: 17px 16px;
						}
					}
				}
				.categoria-list{
					margin: 30px 0 0 0;
					h2{
						color: #666666;
						margin: 0 0 15px 0;
						font-size: 14px;
					}
					nav{
						ul{
							margin: 0;
							padding: 0;
							li{
								list-style-type: none;
								border-top: 1px solid #a09f9f;
								padding: 0;
								a{
									padding: 14px 0;
									display: inline-block;
									text-decoration: none;
									color: #a09f9f;
									&:hover, &:focus{
										outline: none;
										color: #0ab3a3;
									}
								}
								&:last-child{
									border-bottom: 1px solid #a09f9f;
								}
							}
						}
					}
				}
			}
			.posts-block{
				.posts-block--title{
					h1{
						color: #303030;
						margin: 30px 0;
						font-size: 14px;
					}
				}
				.posts-container{
					border-top: 1px solid #9a9a9a;
					margin: 8px 0;
					padding: 8px 0 0 0;
					&:last-child{
						border-bottom: 1px solid #9a9a9a;
						padding: 8px 0 8px 0;
					}
					h1{
						font-size: 14px;
					}
					.posts-container-align{
						.posts-container--category{
							span{
								ul{
									margin: 0;
									padding: 0;
									li{
										list-style-type: none;
										a{
											text-decoration: none;
											font-size: 14px;
											color: #fd6b6b;	
											&:focus, &:hover{
												outline: none;
											}
										}
									}
								}
							}
						}
						.posts-container--title{
								p{
									margin: 5px 0;
									a{
										text-decoration: none;
										color: #9a9a9a;
										font-size: 14px;
							
										&:hover{
											color: #5bcab7;
										}
									}
								}		
						}
						.posts-container--date{
							p{
								text-transform: uppercase;
								margin: 0;
								color: #9a9a9a;
								font-size: 14px;
							}
						}
						.posts-container--img{
							width: 98px;
							height: 66px;
							overflow: hidden;
							a{
								color: #9a9a9a;
								font-size: 14px;
								text-decoration: none;
								img{
									min-width: 100%;
									min-height: 100%;
									max-width: 150%;
								}
							}
						}
					}
				}
			}
			.social-right--facebook{
				margin: 30px 0 0 0;
			}
			.social-right--instagram{
				margin: 30px 0 0 0;
				.insta-container{
					.insta-text{
						margin: 10px 0 0 0;
						h1{
							margin: 0;
							font-size: 14px;
						}
						h2{
							margin: 0;
							a{
								text-decoration: none;
								font-size: 14px;
								color: #9a9a9a;
								&:hover, &:focus{
									outline: none;
								}
							}
						}
					}
				}
			}

		}
	/*
		#####################
			  //SOBRE
		#####################
	*/

	/*
		####################
			PAGINAÇÃO
		####################
	*/
		.pagenavi{
			display: inline-block;
			#pagination{
					.navigation{
						.nav-previous{
						top: -5px;
						left: 25%;
					}
					.nav-next{
						top: -5px;
						right: 25%;
					}
					/*
						#####################
							AUTHOR POSTS
						#####################
					*/
					.nav-previous--author{
						top: -5px;
						left: 35%;
						position: absolute;
						a{
							font-weight: bold;
							text-decoration: none;
							font-size: 25px;
							color: #58bcb3;
							&:hover, &:focus{
								outline: none;
							}
						}
					}
					.nav-next--author{
						top: -5px;
						right: 35%;
						position: absolute;
						a{
							font-weight: bold;
							text-decoration: none;
							font-size: 25px;
							color: #58bcb3;
							&:hover, &:focus{
								outline: none;
							}
						}
					}
					/*
						#####################
							//AUTHOR POSTS
						#####################
					*/
				}
			}
			
		}

	/*
		####################
			//PAGINAÇÃO
		####################
	*/

	/*
		#####################
			  FOOTER
		#####################
	*/
		.footer{
			.footer-title{
				p{
					font-size: 16px;
				}
			}
			.footer-icon{
				&.left{
					float: initial;
				}
			}
			.footer-copiryght{
				&.right{
					float: initial;
				}
				position: relative;
				p{
					text-align: center;
					margin: 10px 0 0 0;
					font-size: 12px;
					color: #303030;
				}
			}

			
		}


	/*
		#####################
			 //FOOTER
		#####################
	*/

	/*
		#####################
			 SINGLE
		#####################
	*/
		.single{
			margin: 28px 0 140px 0;
			.single-posts{
				.single-content{
					.single-category{
						font-size: 18px;
						ul{
							margin: 0;
							padding: 0;
							li{
								margin-bottom: 10px;
								list-style-type: none;
								a{
									color: #fd6b6b;
									text-decoration: none;
								}
							}
						}
					}
					.single-title{
						p{
							margin: 0 0 5px 0;
							text-transform: uppercase;
							color: #666;
							font-size: 26px;
						}
					}
					.single-author{
						margin-bottom: 25px;
						color: #fd6b6b;
						font-size: 12px;
						span{
							i{
								a{
									color: #fd6b6b;
									text-decoration: none;
									&:hover, &:focus{
										outline: none;
										text-decoration: underline;
									}

								}
							}
						}
					}
					.single-about{
						p{
							margin: 0 0 30px 0;
							color: #a09f9f;
							line-height: 20px;
							font-size: 14px;
						}
					}
				}
				.single-img{
					overflow: hidden;
					width: 100%;
					height: 300px;
					img{
						min-width: 100%;
						min-height: 100%;
						max-width: 150%;
					}
				}

				/*
					#####################
						SINGLE CATEGORY
					#####################
				*/
					.single-category{
						.single-category--img{
							width: 220px;
							height: 220px;
						}
						.single-category--title{
							.text-align{
								h1{
									margin: 10px 0 0 0;
									font-size: 14px;
									color: #6e6e6e;
									span{
										color: #7bbab4;
									}
								}
							}
							.link-align{
								p{
									margin: 9px 0 0 0;
									a{
										text-decoration: none;
										margin-left: 20px;
										font-size: 13px;
										padding: 9px 15px 7px 15px;
										background-color: #5bcab7;
										border: 0;
										color: #fff;
										&:hover, &:focus{
											outline: none;
											background-color: #0ab3a3;
										}
									}
								}
							}
						}
						.single-category--content{
							margin: 20px 0 0 0;
							p{
								line-height: 20px;
								margin: 0;
								font-size: 14px;
								color: #a09f9f;
							}
						}
					}


				/*
					#####################
						//SINGLE CATEGORY
					#####################
				*/


				/*	
					###########################
					   SINGLE CAROUSEL DICAS
					###########################
				*/
				.dicas-block{
					.align-title--absolute{
						max-width: 55%;
					}
					.dicas-title{
						p{
							font-size: 18px;
						}
					}
					.dicas-block--carousel{
						.dicas-block--align{
							margin: 0 0 10px 0;
						}
						.dicas-container{
							h1{
								font-size: 12px;
							}
						}
					}
				}
				/*
					###########################
					  //SINGLE CAROUSEL DICAS
					###########################
				*/


				/*
					#####################
						SINGLE SOCIAL
					#####################
				*/

				.single-social{
					padding: 6px 0 8px 0;
					.single-social--share{
						p{
							margin: 10px 0 0 0;
						}
					}
					.single-social--icons{
						.single-social--facebook{
							a{
								display: inline-block;
								padding: 4px 8px 1px 8px;
								i{
									margin-right: 0;
								}
							}
						}
						.single-social--twitter{
							a{
								display: inline-block;
								padding: 4px 7px 1px 7px;
								i{
									margin-right: 0;
								}
							}
						}
						.single-social--pinit{
							a{
								display: inline-block;
								padding: 4px 8px 1px 8px;
								i{
									margin-right: 0;
								}
							}
						}
					}
				}
				/*
					#####################
					   //SINGLE SOCIAL
					#####################
				*/


				/*
					###########################
					   SINGLE COMENTÁRIOS
					###########################
				*/
					.single-coments{
						position: relative;
						margin: 35px 0 25px 0;
						border-bottom: 1px solid #a09f9f;
						.align-title--absolute{
							max-width: 74%;
						}
						.single-coments--title{
							p{
								font-size: 18px;
								color: #6e6e6e;
								margin: 0;
								padding: 0 15px;
							}
						}
						.single-coments--container{
							.single-coments--top{
								margin: 0 0 25px 0;
								.single-coments--count{
									p{
										margin: 7px 0 0 0;
										color: #6e6e6e;
										font-size: 14px;
										font-weight: bold;
									}
									
								}
								.single-coments--filter{
									p{
										margin: 7px 10px 0 0;
										color: #6e6e6e;
										font-size: 14px;
									}
									select{
										color: #6e6e6e;
										padding: 5px 7px 5px 10px;
										border: 1px solid #6e6e6e;
										background-color: #f6f7f9;
										border-radius: 3px;
									}
								}
							}
							.single-coments--box{
								margin: 0 0 25px 0;
								.single-coments--box-img{
									overflow: hidden;
									img{
										min-width: 50px;
										min-height: 46px;
										max-width: 150%;
									}
								}
								.single-coments--box-text{
									textarea{
										padding: 6px 10px;
										height: 50px;
										border: 1px solid #6e6e6e;
									}
								}
							}
						}
					}


				/*
					###########################
					   //SINGLE COMENTÁRIOS
					###########################
				*/


				/*
					###########################
					    SINGLE RELACIONADOS
					###########################
				*/
					.single-related{
						.align-title--absolute{
							max-width: 85%;
							top: 2px;
						}
						.single-related--title{
							p{
								font-size: 18px;
							}
						}
						/*
							#################################
							   SINGLE RELACIONADOS CAROUSEL
							#################################
						*/
						
							.related-block{
								margin: 20px 0 0 0;
								.related-block--carousel{
									#button-prev--related{
										right: 97%;
										&:active{
											i{
												font-size: 32px;
												font-weight: bold;
											}
										}
									}
									#button-next--related{
										left: 97%;
										&:active{
											i{
												font-size: 32px;
												font-weight: bold;
											}
										}
									}
									#related--carousel{
										&.owl-carousel{
											margin: 0 20px 0 0;
											.owl-item{
												padding: 0 15px;
												img{
													min-height: 100%;
													min-width: 100%;
													max-width: 150%;
													width: auto;
													height: auto;
												}
										    }
										}
									}
									.related-container{
										position: relative;
										.related-container--img{
											overflow: hidden;
											height: auto;
											.related-container--text{
												bottom: 0;
												position: absolute;
												background-color: rgba(0, 0, 0, 0.5);
												border-top: 2px solid #fd6b6b;
												.related-container--title{
													color: #fff;
													font-size: 18px;
												}
											}
										}

										
									}
								}
							}


						/*
							#################################
							  //SINGLE RELACIONADOS CAROUSEL
							#################################
						*/
					}

				/*
					###########################
					   //SINGLE RELACIONADOS
					###########################
				*/
			}
		}

	/*
		#####################
			 //SINGLE
		#####################
	*/

	/*
		#####################
			 CONTATO
		#####################
	*/
		.contato{
			.contato-mobile{
				&.container{
					padding: 0;
				}	
			}
			.contato-img{
				height: 227px;
			}
			.contato-block{
				padding: 20px 0 40px 0;
				.contato-container{
					.block-details--left{
						.block-details-title{
							h1{
								margin: 0 0 10px 0;
								font-size: 13px;
							}
							h2{
								margin: 0 0 35px 0;
								font-size: 20px;
							}
						}
						.block-details-content{
							p{
								margin: 0 0 30px 0;
								font-size: 14px;
								&:first-child{
									margin: 0;
								}
							}
						}
						.block-details-img{
							a{
								&:hover, &:focus{
									outline: none;
								}
								img{
									width: 137px;
									height: 40px;
								}
							}
						}
						.block-details-social{
							margin: 35px 0 0 0;
							ul{
								li{
									a{
										i{
											font-size: 18px;
											margin-right: 20px;
										}
									}
								}
							}
						}
					}
					.block-details--right{
						margin: 40px 0 0 0;
						.block-details-title{
							h2{
								margin: 0 0 20px 0;
							}
						}
						.block-details-content{
							p{
								margin: 0;
								color: #999999;
								font-size: 14px;
							}
						}
						.block-details-contact{
							.form-field{
								input{
									padding: 0 0 0 10px;
								}
								textarea{
									padding: 10px 0 0 10px;
								}
							}
							.button-field{
								button{
									width: 140px;
									height: 40px;
									color: #fff;
									background-color: #58bcb3;
								}
							}
						}
					}
				}
			}
		}


	/*
		#####################
			 CONTATO
		#####################
	*/

	/*
		#####################
		   BANNER CATEGORIA
		#####################
	*/
		.index--align{
			margin-top: 18px;
			margin-bottom: 35px;
			.banner-single{
				margin: 0;
				.banner-single--block{
					.banner-img{
						height: 200px;
						.banner-text{
							margin: 70px 0 0 0;
							span{
								font-size: 36px;
							}
						}
					}
				}
			}
		}
	/*
		#####################
		   BANNER CATEGORIA
		#####################
	*/

}